.checkbox,
.radio,
.switch{
    margin: 0;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    vertical-align: middle;
}

.checkbox-addon{
    padding: 0.15rem;
    position: relative;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 2px;
    vertical-align: middle;

    i{
        color: transparent;
        width: 1rem;
        height: 1rem;
        transition: all .2s ease-in-out;
    }



    input{
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;

        &:checked{
            & + i{
                color: #4285f4;
            }
        }
    }
}

.checkbox-label,
.radio-label{
    user-select: none;
    &:not(:empty){
        margin-left: 5px;
    }
}

.checkbox-inline,
.radio-inline{
    display: inline-block;

    .checkbox:not(:last-child),
    .radio:not(:last-child){
        margin-right: 10px;
    }
}


.radio-addon{
    position: relative;
    padding: 0.15rem;
    border: 1px solid #ddd;
    border-radius: 2px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;

    input {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;

        &:checked{
            & + i{
                background: #4285f4;
            }
        }
    }

    i {
        display: inline-block;
        content: " ";
        width: 1rem;
        height: 1rem;
        background: transparent;
        border-radius: 50%;
    }
}


.switch{
    display: inline-block;
    position: relative;

    input {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
}

.switch-addon{
    display: inline-block;
    padding: 0.15rem;
    border: 1px solid #ddd;
    background: #ddd;
    width: 3rem;
    border-radius: 3rem;
    transition: all .2s ease-in-out;

    input:checked + &{
        border-color: #4285f4;
        background: #4285f4;

        &:before{
            float: right;
        }
    }

    &:before{
        float: left;
        content: " ";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: #fff;
        transition: all .6s linear;
    }
}
