.checkbox,
.radio{
    margin: 0;
    cursor: pointer;
    user-select: none;
    display: inline-block;
}

.checkbox-addon{
    padding: 0.15rem;
    position: relative;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 2px;

    i{
        color: transparent;
        width: 1rem;
        height: 1rem;
        transition: all .2s ease-in-out;
    }



    input[type="checkbox"]{
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;

        &:checked{
            & + i{
                color: #4285f4;
            }
        }
    }
}

.checkbox-label,
.radio-label{
    &:not(:empty){
        margin-left: 5px;
    }
}

.radio-label{
    position: relative;
    top: -1px;
}

.checkbox-inline,
.radio-inline{
    display: inline-block;

    .checkbox:not(:last-child),
    .radio:not(:last-child){
        margin-right: 10px;
    }
}


.radio-addon{
    position: relative;
    padding: 0.15rem;
    border: 1px solid #ddd;
    border-radius: 2px;
    display: inline-block;
    border-radius: 50%;

    input[type="radio"] {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;

        &:checked{
            & + i{
                background: #4285f4;
            }
        }
    }

    i {
        display: inline-block;
        content: " ";
        width: 1rem;
        height: 1rem;
        background: transparent;
        border-radius: 50%;
    }
}
