.collapse {
    transition: $collapse-transition;

    &.active {
        .collapse-title-addon {
            transform-origin: center center;
            transform: rotate(90deg);
        }

        .collapse-body {
            height: auto;
            animation: $collapse-animation;
        }
    }

    .nav-item {
        text-indent: $collapse-text-indent;
    }
}

.collapse-title {
    transition: $collapse-transition;
}

.collapse-title-addon {
    float: right;
    line-height: $line-height-base;
    transition: $collapse-transition;
}

.collapse-body {
    height: 0;
    overflow: hidden;
    text-indent: $collapse-text-indent;
    transform-origin: center 0;
    font-size: $collapse-font-size;
}
