.confirm{
    position: fixed;
    top: $modal-top;
    right: 0;
    bottom: 0;
    left: $modal-left;
    background: $modal-bg;
    z-index: $zindex-modal;
    overflow: hidden;
    outline: 0;
    -webkit-overflow-scrolling: touch;
    animation: fadeIn $modal-animation-duration ease;
}

.confirm-dialog{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 1rem;
    padding-bottom: 0;
    text-align: center;
    background: #fff;
    width: 240px;
    height: 160px;
    border-radius: 6px;
}

.confirm-addon{
    font-size: 3rem;
    margin-bottom: 0.4rem;
}

.confirm-body{
    font-size: 1rem;
    margin-bottom: 0.4rem;
}


.confirm-title{
    font-size:0.8rem;
    color: #999;
}

.confirm-footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
}

.confirm-btn-sure,
.confirm-btn-cancel{
    flex: 1;
    padding: 0.8rem;
    cursor: pointer;

    &:hover{
        background: #eee;
    }
}

.confirm-btn-sure{
    border-right: 1px solid #ddd;
    color: $brand-primary;
    border-radius: 0 0 0 6px;
}

.confirm-btn-cancel{
    border-radius: 0 0 6px 0;
}