.confirm {
    position: fixed;
    right: 0;
    bottom: 0;
    top: $confirm-top;
    left: $confirm-left;
    background: $confirm-bg;
    z-index: $zindex-confirm;
    overflow: hidden;
    outline: 0;
    -webkit-overflow-scrolling: touch;
}

.confirm-dialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    width: $confirm-dialog-width;
    height: $confirm-dialog-height;
    background: $confirm-dialog-bg;
    padding: $confirm-dialog-padding;
    border-radius: $confirm-dialog-border-radius;
    animation: bounceIn $confirm-animation-duration ease-in-out;
}

.confirm-addon {
    font-size: $confirm-addon-font-size;

    i {
        display: block;
    }
}

.confirm-body {
    padding: $confirm-body-padding;
}


.confirm-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid $confirm-footer-border-color;
}

.confirm-btn-sure,
.confirm-btn-cancel {
    flex: 1;
    padding: $confirm-btn-padding;
    cursor: pointer;

    &:hover {
        background: $confirm-btn-hover-bg;
    }
}

.confirm-btn-sure {
    border-right: 1px solid $confirm-footer-border-color;
    color: $confirm-btn-primary-color;
    border-radius: 0 0 0 $confirm-dialog-border-radius;
}

.confirm-btn-cancel {
    color: $text-muted;
    border-radius: 0 0 $confirm-dialog-border-radius;
}
