
.datepicker{
  position: absolute;
  left: 0;
  top: 120%;
  width: 220px;
  border: 1px solid #ddd;
  background: #fff;
  font-size: 0.8rem;
  box-shadow: 0 2px 8px rgba(0,0,0,.2) ;
}

//头部
.datepicker-header{
  line-height: 1;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 0 0.5rem;
}

.datepicker-header-btn{
  cursor: pointer;
  padding: 0.75rem 0.5rem;
  font-size: 1.2rem;
  transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover{
    color: $brand-primary;
    transform: scale(1.5);
  }
}

//时间标题
.datepicker-caption{
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 0.75rem 0;
  transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover{
    color: $brand-primary;
  }
}

//日期选择区
.datepicker-body{
}

//星期
.datepicker-weekgroup{
  font-weight: bold;
  padding: 0.5rem;
}

.datepicker-weekgroup-item{
  display: inline-block;
  text-align: center;
  width: percentage(1/7);
  padding: 0 0.5rem;
}

//日
.datepicker-daygroup{
  padding: 0 0.5rem 0.5rem;
}

.datepicker-daygroup-item{
  cursor: pointer;
  display: inline-block;
  width: percentage(1/7);
  text-align: center;
  padding: 1px;
}

.datepicker-daygroup-item-text{
  padding: 0.25rem 0;
  border: 1px solid transparent;
  border-radius: 2px;

  &:hover:not(.disable):not(.active){
    background: mix($brand-primary, #fff, 20%);
  }

  &.now{
    border-color: $brand-primary;
  }

  &.active{
    color: #fff !important;
    border-color: $brand-primary;
    background: $brand-primary;
  }

  &.disable{
    cursor: not-allowed;
    color: #ddd !important;
  }
}

//年份选择
.datepicker-yeargroup,
.datepicker-monthgroup{
  display: inline-block;
  width: 50%;
  height: 200px;
  overflow-y: scroll;
}

.datepicker-yeargroup{
  border-right: 1px solid #ddd;
}

.datepicker-yeargroup-item,
.datepicker-monthgroup-item{
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 0;

  &:hover{
    background: mix($brand-primary, #fff, 20%);
  }

  &.active{
    color: #fff;
    background: $brand-primary;
  }

  &.disable{
    cursor: not-allowed;
    color: #ddd !important;
  }
}


//底部
.datepicker-footer{
  line-height: 1;
  text-align: center;
  padding: 0.75rem 1rem;
  border-top: 1px solid #ddd;
}
