
.datepicker{
  position: absolute;
  left: 0;
  top: 0;
  width: $datepicker-width;
  border: $datepicker-border;
  background: $datepicker-bg;
  font-size: $datepicker-font-size;
  z-index: $zindex-datepicker;
  box-shadow: $datepicker-box-shadow;
  animation: scaleIn 0.36s ease;
  transform-origin: center 0;
}

//头部
.datepicker-header{
  line-height: 1;
  border-bottom: $datepicker-border;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: $datepicker-header-padding;
}

.datepicker-header-btn{
  cursor: pointer;
  padding: $datepicker-header-btn-padding;
  font-size: $datepicker-header-btn-font-size;
  transition: $datepicker-header-btn-transition;

  &:hover{
    color: $datepicker-header-btn-hover-color;
    transform: scale($datepicker-header-btn-scale);
  }
}

//时间标题
.datepicker-caption{
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: $datepicker-caption-padding;

  &:hover{
    color: $datepicker-caption-hover-color;
  }
}

//日期选择区
.datepicker-body{
}

//星期
.datepicker-weekgroup{
  font-weight: bold;
  padding: $datepicker-weekgroup-padding;
}

.datepicker-weekgroup-item{
  display: inline-block;
  text-align: center;
  width: percentage(1/7);
  padding: $datepicker-weekgroup-item-padding;
}

//日
.datepicker-daygroup{
  padding: $datepicker-daygroup-padding;
}

.datepicker-daygroup-item{
  cursor: pointer;
  display: inline-block;
  width: percentage(1/7);
  text-align: center;
  padding: 1px;
}

.datepicker-daygroup-item-text{
  padding: $datepicker-daygroup-item-padding;
  border: 1px solid transparent;
  border-radius: $datepicker-daygroup-item-border-radius;

  &:hover:not(.disable):not(.active){
    background: $datepicker-daygroup-item-hover-bg;
  }

  &.now{
    border-color: $datepicker-daygroup-item-active-border;
  }

  &.active{
    color: $datepicker-daygroup-item-active-color !important;
    border-color: $datepicker-daygroup-item-active-border;
    background: $datepicker-daygroup-item-active-bg;
  }

  &.disable{
    cursor: not-allowed;
    color: $datepicker-daygroup-item-disable-color !important;
  }
}

//年份选择
.datepicker-yeargroup,
.datepicker-monthgroup{
  display: inline-block;
  width: 50%;
  height: $datepicker-yeargroup-height;
  overflow-y: scroll;
}

.datepicker-yeargroup{
  border-right: $datepicker-border;
}

.datepicker-yeargroup-item,
.datepicker-monthgroup-item{
  cursor: pointer;
  text-align: center;
  padding: $datepicker-yeargroup-item-padding;

  &:hover{
    background: $datepicker-daygroup-item-hover-bg;
  }

  &.active{
    color: $datepicker-yeargroup-item-active-color;
    background: $datepicker-yeargroup-item-active-bg;
  }

  &.disable{
    cursor: not-allowed;
    color: $datepicker-yeargroup-item-disabled-color !important;
  }
}


//底部
.datepicker-footer{
  line-height: 1;
  text-align: center;
  padding: $datepicker-footer-padding;
  border-top: $datepicker-border;
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
