.input {
    display: inline-block;
    position: relative;
}

.form-horizontal {
    .input {
        display: block;
        width: 100%;
    }
}

.input-field {
    &[readonly] {
        cursor: pointer;
        background: $brand-pure;
        box-shadow: none;
    }

    &[disabled] {
        cursor: not-allowed;
        background: $input-bg-disabled;

        + .input-addon {
            cursor: not-allowed;
        }
    }
}

.input-field-addon {
    padding-right: .75rem * 2 + .5;
}

.input-pill {
    border-radius: 10rem;
}


.input-addon {
    cursor: pointer;
    position: absolute;
    right: .75rem;
    top: 50%;
    z-index: 2;
    padding: 0 1px;
    transform: translateY(-50%);
    opacity: .8;

    &:hover {
        opacity: 1;
    }
}
