//
// Layout
html, body, #root {
    height: 100%;
}

//整体布局
.layout {
    height: 100%;
    overflow: hidden;
}

//主内容区
.content {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
