//
// Layout
// --------------------------------------------------
// ***** .sidebar                             - 侧边栏
// ***** .content                             - 主内容区


//容器
.flex{
    overflow: hidden;
    display: flex;
    height: 100%;
}

.flex-vertical{
    height: 100%;
    flex-direction: column;
}

.flex-item{
    flex: 1;
    overflow: auto;
    position: relative;
}

.flex-item-2{
    flex: 2;
    overflow: auto;
    position: relative;
}

.flex-item-3{
    flex: 3;
    overflow: auto;
    position: relative;
}

.square{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

//主内容区
.content{
    flex: 1;
    height: 100%;
    overflow: auto;
    position: relative;
}