//
// Layout
// --------------------------------------------------
// ***** .sidebar                             - 侧边栏
// ***** .content                             - 主内容区


.square {
    height: 100%;
    overflow: hidden;
}

//主内容区
.content {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
