
.message{
  display: flex;
  align-items: center;
  position: fixed;
  top: $message-top;
  left: 50%;
  z-index: $zindex-message;
  transform: translateX(-50%);
  color: $message-color;
  max-width: $message-max-width;
  box-shadow: $message-box-shadow;
  border-radius: $message-border-radius;
}

.message-header{
  font-size: $message-header-font-size;
  padding: $message-header-padding;
}


.message-body{
  flex: 1;
  padding: $message-body-padding;
}

.message-loading{
  display: block;
  width: $message-header-font-size;
  height: $message-header-font-size;
  border: 1px solid transparent;
  border-top-color: $message-loading-border-color;
  border-radius: 100%;
  padding: $message-loading-padding;
  animation: spin .6s infinite linear;
}

// Alternate styles
.message-primary{ @include message-variant($brand-primary); }
.message-success{ @include message-variant($brand-success); }
.message-warning{ @include message-variant($brand-warning); }
.message-danger{ @include message-variant($brand-danger); }