// Container that the modal scrolls within
.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $modal-bg;
  z-index: $zindex-modal;
  overflow: hidden;
  outline: 0;
  -webkit-overflow-scrolling: touch;
  animation: fadeIn $modal-animation-duration ease;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  margin: $modal-dialog-margin;
  border-radius: $modal-border-radius;
  animation: slideInDown $modal-animation-duration ease;
}

// Actual modal
.modal-content {
  position: relative;
  background-clip: padding-box;
  border: 1px solid $modal-content-border-color;
  @include border-radius($border-radius-sm);
  // Remove focus outline from opened modal
  outline: 0;
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  color: $modal-header-color;
  padding: $modal-title-padding;
  background: $modal-header-bg;
  border-radius: $modal-border-radius $modal-border-radius 0 0;
  @include clearfix;

  .close{
    color: $modal-header-color;
    opacity: .6;
    &:hover{
      opacity: 1;
    }
  }
}

// Title text within header
.modal-title {
  margin: 0;
  line-height: $modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  padding: $modal-inner-padding;
  background: $modal-body-bg;
}

// Footer (for actions)
.modal-footer {
  padding: $modal-inner-padding;
  text-align: right; // right align buttons
  border-top: $modal-footer-border-width solid $modal-footer-border-color;
  background: $modal-footer-bg;
  border-radius: 0 0 $modal-border-radius $modal-border-radius;
  @include clearfix(); // clear it in case folks use .pull-* classes on buttons

  .btn{
    margin-left: $spacer-x;
  }
}

// Scale up the modal
@include media-breakpoint-up(sm) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    max-width: $modal-md;
    margin: $modal-dialog-sm-up-margin-y auto;
  }

  .modal-sm { max-width: $modal-sm; }
}

@include media-breakpoint-up(lg) {
  .modal-lg { max-width: $modal-lg; }
}

//Animation
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

