// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  display: flex;
  align-items: center;
  height: $navbar-height;
  line-height: $navbar-line-height;
  position: relative;
  padding: $navbar-padding-y $navbar-padding-x;
  border-bottom: 1px solid transparent;
  @include clearfix;
  @include nav-variant($navbar-color, $navbar-bg, $navbar-border-color);

  .nav {
    flex: 1;
    .nav-item {
      float: left;
    }

    .nav-link {
      display: block;
      padding: 0 $nav-item-spacer-x;

      + .nav-link {
        margin-left: $nav-item-spacer-x;
      }
    }

    .nav-item + .nav-item {
      margin-left: $nav-item-spacer-x;
    }
  }
}

.navbar-primary{
  @include nav-variant($navbar-primary-color, $navbar-primary-bg, $navbar-primary-border-color);
}

.navbar-pure{
  @include nav-variant($navbar-pure-color, $navbar-pure-bg, $navbar-pure-border-color);
}


// Fix the top/bottom navbars when screen real estate supports it
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: $zindex-navbar-fixed;
}

.navbar-sticky-top {
  position: sticky;
  top: 0;
  z-index: $zindex-navbar-sticky;
  width: 100%;
}


//
// Brand/project name
//

.navbar-brand {
  margin-right: 1rem;
  font-size: $font-size-lg;

  @include hover-focus {
    text-decoration: none;
  }

  > img {
    display: block;
  }
}


.navbar-sidebar-title{
  text-align: center;
  display: inline-block;
  font-size: $navbar-sidebar-title-font-size;
  color: $navbar-sidebar-title-color;
  width: $navbar-sidebar-title-width;
  background: $navbar-sidebar-title-bg;
  margin: $navbar-sidebar-title-margin;

  img{
    max-height: $navbar-height;
    max-width: $navbar-sidebar-title-width;
  }
}


.navbar-divider {
  float: left;
  width: $border-width;
  padding-top: .425rem;
  padding-bottom: .425rem;
  margin-right: $navbar-padding-x;
  margin-left:  $navbar-padding-x;
  overflow: hidden;

  &::before {
    content: "\00a0";
  }
}


// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// Bootstrap JavaScript plugin.

.navbar-toggler {
  padding: .5rem .75rem;
  font-size: $font-size-lg;
  line-height: 1;
  background: none;
  border: $border-width solid transparent;
  @include border-radius($btn-border-radius);

  @include hover-focus {
    text-decoration: none;
  }
}

// scss-lint:disable ImportantRule
// Custom override for
.navbar-toggleable {
  &-xs {
    @include media-breakpoint-up(sm) {
      display: block !important;
    }
  }
  &-sm {
    @include media-breakpoint-up(md) {
      display: block !important;
    }
  }
  &-md {
    @include media-breakpoint-up(lg) {
      display: block !important;
    }
  }
}

