
.notification{
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: $zindex-notification;
  width: $notification-width;
}

.notice{
  display: flex;
  align-items: center;
  background: $notice-bg;
  border-radius: $notice-border-radius;
  margin-bottom: $notice-margin-bottom;
  box-shadow: $notice-box-shadow;
  border: 1px solid transparent;
  animation-duration: $notice-enter-duration;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.notice-header{
  font-size: $notice-header-font-size;
  padding: $notice-header-padding;
}

.notice-body{
  flex: 1;
  padding: $notice-body-padding;

}

.notice-title{
  font-weight: bold;
  margin: $notice-title-margin;
}


.notice-content{

}


// Alternate styles
.notice-info{ @include notice-variant($brand-primary); }
.notice-success{ @include notice-variant($brand-success); }
.notice-warning{ @include notice-variant($brand-warning); }
.notice-danger{ @include notice-variant($brand-danger); }


//Animation
.notice-enter{
  animation-name: slideInRight;
}

.notice-leave{
  animation-duration: $notice-leave-duration;
  animation-name: slideOutRight;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }

  100% {
    transform: translateX(0);
  }
}


@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(500px);
  }
}