.pagination {
    text-align: center;
    padding-left: 0;
    margin-top: $spacer-y;
    margin-bottom: $spacer-y;
    user-select: none;
    cursor: pointer;
}

.page-item {
    display: inline-block; // Remove list-style and block-level defaults
    &:not(:last-child) {
        margin-right: $page-item-spacer-x;
    }

    &.active .page-link {
        color: $pagination-active-color;
        cursor: default;
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border;
    }

    &.disabled {
        opacity: .5;
        cursor: $cursor-disabled;

        .page-link {
            color: $pagination-disabled-color;
            pointer-events: none;
            background-color: $pagination-disabled-bg;
            border-color: $pagination-disabled-border;
        }
    }
}

.page-link {
    position: relative;
    padding: $pagination-padding-y $pagination-padding-x;
    color: $pagination-color;
    text-decoration: none;
    background-color: $pagination-bg;
    border: $pagination-border-width solid $pagination-border-color;
    transition: $pagination-transition;


    &:hover {
        color: $pagination-hover-color;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border;
        box-shadow: $btn-active-box-shadow;
        text-decoration: none;
    }
}

