// 用户自定义scss

.login-bg {
    background: url(../images/bg-login.jpg);
    background-size: 30%;
}

.login-mask {
    background:  mix($brand-primary, $gray-dark, 60%);
    opacity: .9;
}

.login-card {
    width: 30%;
    min-width: 25rem;
    max-width: 35rem;
    height: 18rem;

    .card-block {
        padding: 3rem 3rem;
    }
}

.login-copyright {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -2rem;
    text-align: center;
}
