//侧边栏
.sidebar{
    position: relative;
    height: 100%;
    width: $sidebar-width;
    color: $sidebar-color;
    background-color: $sidebar-bg;
    padding-bottom: $sidebar-footer-height;
}

.sidebar-nav{
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    overflow: scroll;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: $sidebar-footer-height;

    .nav-item,
    .nav-link,
    .nav-collapse-title{
        display: block;
        color: #a7b1c2;
        padding: 0.6rem 1.6rem;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
    }

    .nav-item{
        padding: 1rem 0.6rem 0.3rem 0.6rem;
        color: #fff;
        font-size: $font-size-sm;

    }

    .nav-link{
        cursor: pointer;
        &:hover{
            color: #fff;
            background: darken($sidebar-bg, 3%);
            border-left-color: $brand-primary;
            box-shadow: inset 0 0 3rem darken($sidebar-bg, 4%);
        }

        .pull-xs-right{
            line-height: $line-height-base;
        }
    }
}

.nav-collapse{

}

.nav-collapse-block{
    box-shadow: inset 0 0 1px darken($sidebar-bg, 12%), inset 0 0 100rem lighten($sidebar-bg, 6%);
    .nav-link{
        text-indent: 1.5rem;
    }
}

.sidebar-footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $sidebar-footer-bg;
    height: $sidebar-footer-height;
    line-height: $sidebar-footer-height;
    font-size: $sidebar-footer-font-size;
    display: flex;
}

.sidebar-footer-item{
    flex: 1;
    text-align: center;
    color: #a7b1c2;
    border-top: 2px solid transparent;
    &:hover{
        color: #fff;
        border-top-color: $brand-primary;
    }
}
