//侧边栏
.sidebar{
    position: relative;
    height: 100%;
    width: $sidebar-width;
    color: $sidebar-color;
    background-color: $sidebar-bg;
    padding-bottom: $sidebar-footer-height;

    .nav{
        height: 100%;
        overflow-y: auto;
        padding-bottom: $sidebar-nav-padding-bottom;
    }

    .nav-item{
        display: block;
        & + .nav-item{
            margin-left: 0;
        }
    }

    .nav-link,
    .nav-collapse-title{
        display: block;
        color: $sidebar-nav-link-color;
        padding: $sidebar-nav-link-padding;
        border-left: $sidebar-nav-link-border-width solid transparent;
        border-right: $sidebar-nav-link-border-width solid transparent;
    }

    .nav-link{
        cursor: pointer;
        &:hover,
        &.active{
            color: $sidebar-nav-link-active-color;
            background: $sidebar-nav-link-active-bg;
            border-left-color: $sidebar-nav-link-active-border-color;
            box-shadow: $sidebar-nav-link-active-box-shadow;
        }

        .pull-right{
            line-height: $line-height-base;
        }
    }
}

.nav-title{
    padding: $nav-title-padding;
    color: $nav-title-color;
    font-size: $nav-title-font-size;
}

.nav-collapse{

}

.nav-collapse-block{
    box-shadow: inset 0 0 1px darken($sidebar-bg, 12%), inset 0 0 100rem lighten($sidebar-bg, 6%);
    .nav-link{
        text-indent: 1.5rem;
    }
}

.sidebar-footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $sidebar-footer-bg;
    height: $sidebar-footer-height;
    line-height: $sidebar-footer-height;
    font-size: $sidebar-footer-font-size;
    display: flex;
}

.sidebar-footer-item{
    flex: 1;
    text-align: center;
    color: $sidebar-nav-link-color;
    border-top: $sidebar-nav-link-border-width solid transparent;
    &:hover{
        color: $sidebar-nav-link-active-color;
        border-top-color: $sidebar-nav-link-active-border-color;
    }
}
