{
    "presets": ["env", "react"],
    "plugins": [
      "./build/babel-plugin-jsx-source",
      "transform-runtime",
      "syntax-object-rest-spread",
      "transform-export-extensions",
      "transform-class-properties"
    ]
}
