.demo-col-on, .demo-col {
  text-align: center;
  padding: 30px 0;
  font-size: 18px;
}

.demo-col-on {
  color: #fff;
  background: #1c89ea;
}

.demo-col {
  background: rgba(216, 193, 193, .2);
  color: #999;
}
