@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $lengths in $spacers {
    $length-x:   map-get($lengths, x);
    $length-y:   map-get($lengths, y);

    .#{$abbrev}-a-#{$size} { #{$prop}:        $length-y $length-x !important; } // a = All sides
    .#{$abbrev}-t-#{$size} { #{$prop}-top:    $length-y !important; }
    .#{$abbrev}-r-#{$size} { #{$prop}-right:  $length-x !important; }
    .#{$abbrev}-b-#{$size} { #{$prop}-bottom: $length-y !important; }
    .#{$abbrev}-l-#{$size} { #{$prop}-left:   $length-x !important; }

    // Axes
    .#{$abbrev}-x-#{$size} {
      #{$prop}-right:  $length-x !important;
      #{$prop}-left:   $length-x !important;
    }
    .#{$abbrev}-y-#{$size} {
      #{$prop}-top:    $length-y !important;
      #{$prop}-bottom: $length-y !important;
    }
  }
}

.offset-spacer-l{
  margin-left: $spacer-x;
}

.offset-spacer-r{
  margin-right: $spacer-x;
}

.offset-spacer-t{
  margin-top: $spacer-y;
}

.offset-spacer-b{
  margin-bottom: $spacer-y;
}

.fa-left{
    margin-right: $spacer-x / 2;
}

.fa-left-lg{
    margin-right: $spacer-x;
}

.fa-right{
    margin-left: $spacer-x / 2;
}

.fa-right-lg{
    margin-left: $spacer-x;
}

.no-margin{
  margin: 0 !important;
}

.no-padding{
  padding: 0 !important;
}

.no-padding-l{
  padding-left: 0 !important;
}

.no-padding-r{
  padding-right: 0 !important;
}

.no-border{
  border: 0 !important;
}