.dada-shadow-light {
  box-shadow: $box-shadow-light !important;
}

.dada-shadow-normal {
  box-shadow: $box-shadow-normal !important;
}

.dada-shadow-dark {
  box-shadow: $box-shadow-dark !important;
}

.dada-shadow-darker {
  box-shadow: $box-shadow-darker !important;
}
