// 生成内边距、外边距工具类
@each $direction, $suffix in $directionList {
  @each $header, $size in $sizeMap {
    .offset#{$direction}#{$header} {
      @if $direction == '-tb' {
        margin-top: $size !important;
        margin-bottom: $size !important;
      } @else if $direction == '-lr' {
        margin-left: $size !important;
        margin-right: $size !important;
      } @else {
        margin#{$suffix}: $size !important;
      }
    }
  }
}

@each $direction, $suffix in $directionList {
  @each $header, $size in $sizeMap {
    .padding#{$direction}#{$header} {
      @if $direction == '-tb' {
        padding-top: $size !important;
        padding-bottom: $size !important;
      } @else if $direction == '-lr' {
        padding-left: $size !important;
        padding-right: $size !important;
      } @else {
        padding#{$suffix}: $size !important;
      }
    }
  }
}

.no-margin {
  margin: 0 !important;
}

.no-margin-t {
  margin-top: 0 !important;
}

.no-margin-b {
  margin-bottom: 0 !important;
}

.no-margin-l {
  margin-left: 0 !important;
}

.no-margin-r {
  margin-right: 0 !important;
}

.no-margin-tb {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.no-margin-lr {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-t {
  padding-top: 0 !important;
}

.no-padding-b {
  padding-bottom: 0 !important;
}

.no-padding-l {
  padding-left: 0 !important;
}

.no-padding-r {
  padding-right: 0 !important;
}

.no-padding-tb {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.no-padding-lr {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-border {
  border: none !important;
}
