// Variables

@mixin _assert-ascending($map, $map-name) {
    $prev-key: null;
    $prev-num: null;
    @each $key, $num in $map {
        @if $prev-num != null and $prev-num >= $num {
            @warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
        }
        $prev-key: $key;
        $prev-num: $num;
    }
}

// Colors
$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #999 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f4f4f4 !default;

$brand-primary:             #4285f4 !default;
$brand-secondary:           complement($brand-primary) !default;
$brand-success:             #34a853 !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #fbbc05 !default;
$brand-danger:              #ea4335 !default;
$brand-pure:                #fff !default;

$gray-secondary:            mix($brand-primary, $gray-dark, 20%) !default;

// Options
$enable-flex:               true !default;

// Spacing
$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
  2: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  3: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  )
) !default;
$border-width: 1px !default;

// Inverse level
$inverse-level-1:               rgba(0, 0, 0, .18) !default;
$inverse-level-2:               rgba(0, 0, 0, .24) !default;
$inverse-level-3:               rgba(0, 0, 0, .3) !default;
$inverse-level-6:               rgba(0, 0, 0, .6) !default;

// Body
$body-bg:                       $brand-pure !default;
$body-color:                    #666 !default;
$border-color:                  #e7eaec !default;
$text-muted:                    $gray-light !default;


// Links
$link-color:                    $brand-primary !default;
$link-decoration:               none !default;
$link-hover-color:              darken($link-color, 15%) !default;
$link-hover-decoration:         underline !default;


// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');


// Grid containers
$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1140px
) !default;
@include _assert-ascending($container-max-widths, '$container-max-widths');


// Grid columns
$grid-columns:              12 !default;
$grid-gutter-width:         30px !default;


// Typography
$font-family-sans-serif:  -apple-system, BlinkMacSystemFont, "Microsoft YaHei", "WenQuanYi Micro Hei", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;


// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root:    14px !default;
$font-size-base:    1rem !default;
$font-size-lg:      1.25rem !default;
$font-size-sm:      .875rem !default;
$font-size-xs:      .75rem !default;


$font-size-h1:      2.5rem !default;
$font-size-h2:      2rem !default;
$font-size-h3:      1.75rem !default;
$font-size-h4:      1.5rem !default;
$font-size-h5:      1.25rem !default;
$font-size-h6:      1rem !default;

$display1-size:     6rem !default;
$display2-size:     5.5rem !default;
$display3-size:     4.5rem !default;
$display4-size:     3.5rem !default;

$display1-weight:   300 !default;
$display2-weight:   300 !default;
$display3-weight:   300 !default;
$display4-weight:   300 !default;

$headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family:   inherit !default;
$headings-font-weight:   500 !default;
$headings-line-height:   1.1 !default;
$headings-color:         inherit !default;

$small-font-size:        80% !default;


$hr-border-color: $border-color !default;
$hr-border-width: $border-width !default;

$mark-padding: .2em !default;

$dt-font-weight: bold !default;

$list-inline-padding: 5px !default;

$cursor-disabled:                not-allowed !default;
$cursor-pointer:                 pointer !default;

// Components
//
// Define common padding and border radius sizes and more.
$line-height-base:       1.43 !default;
$line-height-lg:         (4 / 3) !default;
$line-height-sm:         1.5 !default;

$border-radius:          4px !default;
$border-radius-lg:       6px !default;
$border-radius-sm:       2px !default;

$component-active-color: $brand-pure !default;
$component-active-bg:    mix($brand-pure, $brand-primary, 60%) !default;

$caret-width:            .3em !default;
$caret-width-lg:         $caret-width !default;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding:            .75rem !default;
$table-sm-cell-padding:         .3rem !default;

$table-bg:                      $brand-pure !default;
$table-bg-accent:               #f9f9f9 !default;
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;

$table-thead-bg:                $gray-lightest !default;

$table-border-width:            $border-width !default;
$table-border-color:            $border-color !default;

$table-inverse-bg:              $gray-dark;
$table-inverse-color:           $gray-lighter;
$table-inverse-thead-color:     $brand-pure;
$table-inverse-border-color:    $gray;


// Buttons
//
$btn-padding-x:                  1rem !default;
$btn-padding-y:                  .5rem !default;
$btn-line-height:                1.25 !default;
$btn-active-box-shadow:          0 2px 6px $inverse-level-2, 0 1px 6px $inverse-level-2 !default;
$btn-transition:                 all .2s cubic-bezier(.4, 0, .2, 1) !default;

$btn-primary-color:              $brand-pure !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $btn-primary-bg !default;

$btn-default-color:                 #666 !default;
$btn-default-bg:                    $brand-pure !default;
$btn-default-border:                #d9d9d9 !default;

$btn-secondary-color:              $brand-pure !default;
$btn-secondary-bg:                 $brand-secondary !default;
$btn-secondary-border:             $btn-secondary-bg !default;


$btn-link-disabled-color:        $gray-light !default;

$btn-padding-x-sm:               .5rem !default;
$btn-padding-y-sm:               .25rem !default;
$btn-font-size-sm:               .8rem !default;

$btn-padding-x-lg:               1.5rem !default;
$btn-padding-y-lg:               .75rem !default;

$btn-block-spacing-y:            5px !default;
$btn-toolbar-margin:             15px !default;

$split-btn-dropdown-toggle-padding-x:     8px !default;
$split-btn-lg-dropdown-toggle-padding-x: 12px !default;

$btn-border-radius:              $border-radius-sm !default;
$btn-border-radius-lg:           $border-radius !default;
$btn-border-radius-sm:           $border-radius-sm !default;

$btn-group-active-box-shadow:    2px 2px 6px $inverse-level-1, -1px -1px 6px $inverse-level-1 !default;


// Forms
$input-padding-x:                .75rem !default;
$input-padding-y:                .5rem !default;
$input-line-height:              1.25 !default;

$input-bg:                       $brand-pure !default;
$input-bg-disabled:              $gray-lighter !default;

$input-color:                    $gray !default;
$input-border-color:             #ddd !default;
$input-btn-border-width:         $border-width !default; // For form controls and buttons

$input-border-radius:            0 !default;
$input-border-radius-lg:         $border-radius !default;
$input-border-radius-sm:         0 !default;

$input-border-focus:             lighten($brand-primary, 12%) !default;
$input-box-shadow-focus:         rgba($input-border-focus, .8) !default;
$input-box-focus-shadow:         0 0 8px $input-box-shadow-focus;

$input-color-placeholder:        #999 !default;
$input-font-size-placeholder:    $font-size-base !default;

$input-padding-x-sm:             .5rem !default;
$input-padding-y-sm:             .25rem !default;

$input-padding-x-lg:             1.5rem !default;
$input-padding-y-lg:             .75rem !default;

$input-height:                   (($font-size-base * $line-height-base) + ($input-padding-y * 2)) !default;
$input-height-lg:                (($font-size-lg * $line-height-lg) + ($input-padding-y-lg * 2)) !default;
$input-height-sm:                (($font-size-sm * $line-height-sm) + ($input-padding-y-sm * 2)) !default;

$form-group-margin-bottom:       $spacer-y !default;

$input-group-addon-bg:                      $input-border-color !default;
$input-group-addon-color:                   #999 !default;
$input-group-addon-border-color:            $input-border-color !default;
$input-group-addon-padding-sm:              $input-padding-y-sm $input-padding-x-sm !default;
$input-group-addon-padding-lg:              $input-padding-y-lg $input-padding-x-lg !default;
$input-group-addon-font-size-lg:            $font-size-lg !default;
$input-group-addon-font-size-sm:            $font-size-sm !default;

//== Checkbox
$checkbox-label-space-x:                    $spacer-y / 2 !default;
$checkbox-space-x:                          $spacer-y !default;
$checkbox-space-y:                          $spacer-y !default;
$checkbox-addon-width:                      1 !default;
$checkbox-addon-height:                     $checkbox-addon-width !default;
$checkbox-addon-padding:                    round(($line-height-base - $checkbox-addon-width) * $font-size-root / 2) !default;
$checkbox-addon-border-color:               #ddd !default;
$checkbox-addon-border-radius:              $border-radius-sm !default;
$checkbox-addon-checked-color:              $brand-primary !default;
$checkbox-addon-transtion:                  all .2s ease !default;
$checkbox-addon-disabled-bg:                $gray-lighter !default;
$checkbox-addon-active-box-shadow:          inset 0 0 2rem rgba($checkbox-addon-border-color, .8) !default;

//== Radio
$radio-addon-width:                         .6 !default;
$radio-addon-height:                        $radio-addon-width !default;
$radio-addon-padding:                       round(($line-height-base - $radio-addon-width) * $font-size-root / 2) !default;

//== Switch
$switch-width:                              3 !default;
$switch-bg:                                 $border-color !default;
$switch-addon-bg:                           $brand-pure !default;
$switch-addon-width:                        1 !default;
$switch-addon-height:                       $switch-addon-width !default;
$switch-addon-padding:                      round(($line-height-base - $switch-addon-width) * $font-size-root / 2) !default;
$switch-addon-translate-x:                  translateX(round(($switch-width - $switch-addon-width) * $font-size-root) - $switch-addon-padding * 2) !default;

//== Select
$select-line-height:                        $input-line-height !default;
$select-transition:                         all .2s ease !default;
$select-bg:                                 $brand-pure !default;
$select-disable-bg:                         $gray-lighter !default;

$select-selection-padding-right:            2.25rem !default;
$select-selection-max-height:               20rem !default;
$select-options-top:                        120% !default;
$select-options-box-shadow:                 0 2px 6px $inverse-level-2 !default;
$select-options-border:                     1px solid $input-border-color !default;

$select-option-padding:                     $input-padding-y $input-padding-x !default;
$select-option-hover-bg:                    #f5f5f5 !default;
$select-option-active-color:                $brand-primary !default;
$select-option-disable-color:               $gray-light !default;

//时间控件
$datepicker-bg:                             $brand-pure !default;
$datepicker-width:                          15rem !default;
$datepicker-border:                         1px solid $border-color !default;
$datepicker-font-size:                      .8rem !default;
$datepicker-box-shadow:                     0 2px 8px $inverse-level-2 !default;

$datepicker-header-padding:                 0 .5rem !default;

$datepicker-header-btn-scale:               1.5 !default;
$datepicker-header-btn-padding:             .75rem .5rem !default;
$datepicker-header-btn-font-size:           1.2rem !default;
$datepicker-header-btn-transition:          all .18s linear !default;
$datepicker-header-btn-hover-color:         $brand-primary !default;

$datepicker-caption-padding:                .75rem 0 !default;
$datepicker-caption-hover-color:            $brand-primary !default;

$datepicker-weekgroup-padding:              .5rem !default;
$datepicker-weekgroup-item-padding:         0 .5rem !default;

$datepicker-daygroup-padding:               0 .5rem .5rem !default;

$datepicker-daygroup-item-padding:          .25rem 0 !default;
$datepicker-daygroup-item-border-radius:    $border-radius !default;
$datepicker-daygroup-item-hover-bg:         mix($brand-primary, $brand-pure, 20%) !default;
$datepicker-daygroup-item-active-bg:        $brand-primary !default;
$datepicker-daygroup-item-active-color:     $brand-pure !default;
$datepicker-daygroup-item-active-border:    $brand-primary !default;
$datepicker-daygroup-item-disable-color:    #ddd !default;

$datepicker-yeargroup-height:               14rem !default;
$datepicker-yeargroup-item-padding:         .5rem 0 !default;
$datepicker-yeargroup-item-active-bg:       $brand-primary !default;
$datepicker-yeargroup-item-active-color:    $brand-pure !default;
$datepicker-yeargroup-item-disabled-color:  #ddd !default;

$datepicker-footer-padding:                .75rem 1rem !default;


// Switch
$switch-width:                          3rem !default;
$switch-toggle-bg:                      #ccc !default;
$switch-toggle-active-bg:               $brand-primary;
$switch-toggle-padding:                 2px !default;

$switch-toggle-addon-bg:                #fdfdfd;
$switch-toggle-addon-width:             1rem;
$switch-toggle-addon-height:            $switch-toggle-addon-width;

$checkbox-height:                       round(1.4 * $font-size-root);
$checkbox-width:                        round(1.4 * $font-size-root);

$radio-height:                          round(1.5 * $font-size-root);
$radio-width:                           round(1.5 * $font-size-root);

//Upload

$upload-preview-width:                  100px !default;
$upload-preview-height:                 $upload-preview-width !default;
$upload-preview-border-color:           $border-color !default;
$upload-preview-bg:                     #f2f3f4 !default;
$upload-preview-color:                  $text-muted !default;
$upload-preview-transition:             all .18s ease-in-out !default;

$upload-preview-addon-font-size:        3rem !default;
$upload-preview-text-bottom:            .5rem !default;
$upload-preview-text-font-size:         .8rem !default;
$upload-preview-img-padding:            2px !default;

// Dropdowns
//
$dropdown-min-width:             120px !default;
$dropdown-padding-y:             .5rem !default;
$dropdown-margin-top:            4px !default;
$dropdown-bg:                    $brand-pure !default;
$dropdown-border-color:          rgba($gray-secondary, .2) !default;
$dropdown-border-width:          $border-width !default;
$dropdown-border-radius:         $border-radius-sm;
$dropdown-divider-bg:            #e5e5e5 !default;
$dropdown-box-shadow:            0 1px 8px $inverse-level-2 !default;

$dropdown-link-hover-color:      lighten($brand-primary, 6%) !default;
$dropdown-link-hover-bg:         #f5f5f5 !default;

$dropdown-link-active-color:     $gray-light !default;
$dropdown-link-active-bg:        $component-active-bg !default;

$dropdown-link-disabled-color:   $gray-light !default;

$dropdown-item-padding-x:        1.5rem !default;
$dropdown-item-padding-y:        .5rem !default;

$dropdown-caret-transition:      all .36s ease !default;

// Z-index master list
$zindex-dropdown-backdrop:         990 !default;
$zindex-navbar:                   1000 !default;
$zindex-select:                   1000 !default;
$zindex-dropdown:                 1000 !default;
$zindex-datepicker:               1000 !default;
$zindex-page-transition:          1000 !default;

$zindex-navbar-fixed:             1030 !default;
$zindex-navbar-sticky:            1030 !default;
$zindex-modal-bg:                 1040 !default;
$zindex-modal:                    1050 !default;
$zindex-confirm:                  1050 !default;
$zindex-alert:                    1050 !default;
$zindex-loading:                  1050 !default;
$zindex-message:                  1060 !default;
$zindex-notification:             1060 !default;
$zindex-notification:             1060 !default;
$zindex-popover:                  1060 !default;
$zindex-tooltip:                  1060 !default;


// Navbar
$navbar-height:                     60px !default;
$navbar-line-height:                $navbar-height !default;
$navbar-padding-x:                  1.25rem !default;
$navbar-padding-y:                  0 !default;
$navbar-brand-padding-y:            .25rem !default;

$navbar-bg:                         mix($gray-lightest, $brand-primary, 99%) !default;
$navbar-color:                      $gray-light !default;
$navbar-border-color:               $border-color !default;

$navbar-primary-bg:                 $brand-primary !default;
$navbar-primary-color:              $brand-pure !default;
$navbar-primary-border-color:       $navbar-primary-bg !default;

$navbar-inverse-bg:                 $gray-dark !default;
$navbar-inverse-color:              $gray-lightest !default;
$navbar-inverse-border-color:       $navbar-inverse-bg !default;

$navbar-pure-bg:                    $brand-pure !default;
$navbar-pure-color:                 $body-color !default;
$navbar-pure-border-color:          $border-color !default;

$navbar-margin-vertical:            ($navbar-height - (1 + 0.5 * 2) * $font-size-root - 1 * 2) / 2  !default;


//Sidebar
$sidebar-width:                                 16% !default;
$sidebar-color:                                 $gray-light !default;
$sidebar-bg:                                    $gray-secondary !default;

$sidebar-header-bg:                             url(../images/logo.png) center center no-repeat !default;
$sidebar-header-bg-color:                       mix($sidebar-bg, $navbar-primary-bg, 90%) !default;
$sidebar-header-bottom-border-color:            darken($sidebar-header-bg-color, 6%) !default;
$sidebar-header-font-size:                      $font-size-lg !default;
$sidebar-header-color:                          $gray-lighter !default;
$sidebar-header-border-right-color:             transparent !default;

$sidebar-body-padding-top:                      0 !default;
$sidebar-body-padding-bottom:                   4rem !default;
$sidebar-body-border-right-color:               transparent !default;


$sidebar-footer-height:                         3rem !default;
$sidebar-footer-bg:                             darken($sidebar-bg, 3%) !default;
$sidebar-footer-box-shadow:                     0 -1px 0 darken($sidebar-footer-bg, 3%) !default;
$sidebar-footer-font-size:                      $font-size-sm !default;

$sidebar-nav-item-indent:                       0 !default;
$sidebar-nav-item-margin:                       0 !default;
$sidebar-nav-link-color:                        #a7b1c2 !default;
$sidebar-nav-link-padding:                      .6rem 1.2rem !default;
$sidebar-nav-link-border-width:                 2px !default;
$sidebar-nav-link-active-bg:                    darken($sidebar-bg, 4%) !default;
$sidebar-nav-link-active-color:                 $brand-pure !default;
$sidebar-nav-link-active-border-color:          $brand-primary !default;
$sidebar-nav-link-active-box-shadow:            inset 0 0 1px darken($sidebar-nav-link-active-bg, 2%) !default;


// Navs
$nav-item-margin:                               .2rem !default;
$nav-item-spacer-x:                             1rem !default;
$nav-item-inline-spacer:                        $nav-item-spacer-x * 2 !default;

$nav-title-color:                               $brand-pure !default;
$nav-title-padding:                             1rem !default;
$nav-title-font-size:                           1.1rem !default;

$nav-link-padding:                              0 !default;
$nav-link-active-color:                         $brand-primary !default;
$nav-link-active-bg:                            transparent !default;
$nav-link-hover-bg:                             $gray-lighter !default;
$nav-link-active-border-width:                  2px !default;

$nav-disabled-link-color:                       $gray-light !default;
$nav-disabled-link-hover-color:                 $gray-light !default;
$nav-disabled-link-hover-bg:                    transparent !default;


$nav-tabs-link-padding:                         .5em 1em !default;
$nav-tabs-link-color:                           $gray !default;
$nav-tabs-border-color:                         $brand-primary !default;
$nav-tabs-border-width:                         2px !default;
$nav-tabs-link-border-width:                    1px !default;
$nav-tabs-link-hover-bg:                        $gray-lighter !default;
$nav-tabs-link-hover-border-color:              $nav-tabs-link-hover-bg !default;

$nav-tabs-active-link-hover-color:              $brand-pure !default;
$nav-tabs-active-link-hover-bg:                 $nav-tabs-border-color !default;
$nav-tabs-active-link-border-color:             $nav-tabs-border-color !default;
$nav-tabs-active-link-hover-border-color:       #ddd !default;
$nav-tabs-justified-link-border-color:          #ddd !default;

$nav-tabs-justified-active-link-border-color:   $body-bg !default;

$nav-pills-link-color:                           $nav-tabs-link-color !default;
$nav-pills-link-border-radius:                   $border-radius !default;
$nav-pills-link-padding:                         $nav-tabs-link-padding !default;
$nav-pills-active-link-color:                    $component-active-color !default;
$nav-pills-active-link-bg:                       $brand-primary !default;
$nav-pills-link-hover-color:                     $nav-tabs-active-link-hover-color !default;
$nav-pills-link-hover-bg:                        $nav-tabs-link-hover-bg !default;
$nav-pills-link-hover-border-color:              $nav-tabs-link-hover-border-color !default;


$nav-stacked-items-padding:                      .75rem 1rem !default;



// Pagination
$pagination-padding-x:                .8rem !default;
$pagination-padding-y:                .4rem !default;
$pagination-padding-x-sm:             .75rem !default;
$pagination-padding-y-sm:             .275rem !default;
$pagination-padding-x-lg:             1.5rem !default;
$pagination-padding-y-lg:             .75rem !default;


$pagination-color:                     $gray-light !default;
$pagination-bg:                        $brand-pure !default;
$pagination-border-width:              $border-width !default;
$pagination-border-color:              #ddd !default;
$pagination-transition:                all .2s cubic-bezier(.4, 0, .2, 1) !default;

$pagination-hover-color:               $brand-primary !default;
$pagination-hover-bg:                  $brand-pure !default;
$pagination-hover-border:              $brand-primary !default;

$pagination-active-color:              $brand-pure !default;
$pagination-active-bg:                 $brand-primary !default;
$pagination-active-border:             $brand-primary !default;

$pagination-disabled-color:            $gray-light !default;
$pagination-disabled-bg:               $brand-pure !default;
$pagination-disabled-border:           #ddd !default;

$page-item-spacer-x:                   .6rem;


// Jumbotron

$jumbotron-padding:              2rem !default;
$jumbotron-bg:                   $gray-lighter !default;


// Define colors for form feedback states and, by default, alerts.

$state-success-text:             darken($brand-success, 3%) !default;
$state-success-bg:               lighten($brand-success, 36%) !default;
$state-success-border:           darken($state-success-bg, 6%) !default;

$state-primary-text:             darken($brand-primary, 3%) !default;
$state-primary-bg:               lighten($brand-primary, 24%) !default;
$state-primary-border:           darken($state-primary-bg, 6%) !default;

$state-warning-text:             darken($brand-warning, 3%) !default;
$state-warning-bg:               lighten($brand-warning, 36%) !default;
$mark-bg:                        $state-warning-bg !default;
$state-warning-border:           darken($state-warning-bg, 12%) !default;


$state-danger-text:              darken($brand-danger, 3%) !default;
$state-danger-bg:                lighten($brand-danger, 36%) !default;
$state-danger-border:            darken($state-danger-bg, 6%) !default;


// Cards
$card-padding:             1.25rem !default;
$card-spacer-x:            .75rem !default;
$card-spacer-y:            $card-padding !default;
$card-border-width:        1px !default;
$card-border-radius:       $border-radius-sm !default;
$card-border-color:        $border-color !default;
$card-border-radius-inner: $card-border-radius !default;
$card-cap-bg:              #f5f5f5 !default;
$card-bg:                  $brand-pure !default;

$card-link-hover-color:    $brand-pure !default;

$card-deck-margin:         .625rem !default;

$card-columns-sm-up-column-gap: 1.25rem !default;


// Tooltips

$tooltip-max-width:           15rem !default;
$tooltip-color:               $brand-pure !default;
$tooltip-bg:                  $gray-secondary !default;
$tooltip-opacity:             .9 !default;
$tooltip-padding-y:           .3rem !default;
$tooltip-padding-x:           .6rem !default;
$tooltip-margin:              3px !default;
$tooltip-border-radius:       2px !default;

$tooltip-arrow-width:         .5rem !default;
$tooltip-arrow-color:         $tooltip-bg !default;

$tooltip-transition:          all .36s cubic-bezier(.4, 0, .2, 1) !default;

// Popovers

$popover-bg:                          $brand-pure !default;
$popover-max-width:                   276px !default;
$popover-border-width:                $border-width !default;
$popover-border-color:                rgba($gray-secondary, .2) !default;
$popover-box-shadow:                  0 2px 6px $inverse-level-2 !default;

$popover-title-bg:                    $gray-secondary !default;
$popover-title-color:                 $brand-pure;
$popover-title-padding-x:             .8rem !default;
$popover-title-padding-y:             .4rem !default;
$popover-title-font-size:             1.1rem;

$popover-content-padding-x:           .8rem !default;
$popover-content-padding-y:           .6rem !default;

$popover-arrow-width:                 6px !default;
$popover-arrow-color:                 $popover-bg !default;

$popover-arrow-outer-width:           ($popover-arrow-width + 1px) !default;
$popover-arrow-outer-color:           fade-in($popover-border-color, .2) !default;


// Tags

$tag-default:                           #ccc !default;
$tag-primary:                           $brand-primary !default;
$tag-secondary:                         $brand-secondary !default;
$tag-success:                           $brand-success !default;
$tag-info:                              $brand-info !default;
$tag-warning:                           $brand-warning !default;
$tag-danger:                            $brand-danger !default;

$tag-color:                             $brand-pure !default;
$tag-link-hover-color:                  $brand-pure !default;
$tag-font-size:                         75% !default;
$tag-font-weight:                       bold !default;
$tag-padding-x:                         .8em !default;
$tag-padding-y:                         .4em !default;
$tag-border-radius:                     $border-radius-sm;

$tag-pill-padding-x:                    .6em !default;
$tag-pill-border-radius:                10rem !default;

$tag-close-margin-right:                $tag-padding-x !default;

// Badge
$badge-color:                           $brand-pure !default;
$badge-padding:                         3px !default;
$badge-font-size:                       $font-size-sm !default;
$badge-box-shadow:                      0 0 0 1px $brand-pure !default;
$badge-min-width:                       20px !default;

$badge-min-width-sm:                    1rem !default;
$badge-font-size-sm:                    75% !default;


$badge-legend-margin-right:             0 !default;
$badge-legend-addon-margin-right:       $spacer-y / 2 !default;

// Modals

$modal-bg:                              $inverse-level-3 !default;
$modal-left:                            $sidebar-width !default;
$modal-top:                             $navbar-height !default;
$modal-inner-padding:                   .8rem !default;
$modal-inner-padding-sm:                .6rem !default;
$modal-border-radius:                   $border-radius !default;

$modal-dialog-margin:                   10px !default;
$modal-dialog-sm-up-margin-y:           $navbar-height !default;

$modal-title-padding:                   .8rem !default;
$modal-title-line-height:               $line-height-base !default;

$modal-content-border-color:            rgba($gray-secondary, .06) !default;
$modal-content-border-width:            $border-width !default;

$modal-header-bg:                       $brand-pure !default;
$modal-header-color:                    $body-color !default;
$modal-header-border-color:             #e5e5e5 !default;
$modal-header-border-width:             $modal-content-border-width !default;

$modal-body-bg:                         $brand-pure !default;

$modal-footer-bg:                       $brand-pure !default;
$modal-footer-border-color:             $modal-header-border-color !default;
$modal-footer-border-width:             $modal-header-border-width !default;

$modal-lg:                              900px !default;
$modal-md:                              600px !default;
$modal-sm:                              300px !default;

$modal-animation-duration:              .36s !default;


// Confirm
$confirm-top:                           $modal-top !default;
$confirm-left:                          $modal-left !default;
$confirm-bg:                            $modal-bg !default;

$confirm-dialog-bg:                     $brand-pure !default;
$confirm-dialog-width:                  240px !default;
$confirm-dialog-height:                 150px !default;
$confirm-dialog-padding:                1rem !default;
$confirm-dialog-border-radius:          $border-radius-lg !default;

$confirm-addon-font-size:               3rem !default;
$confirm-body-padding:                  1rem 0 !default;
$confirm-footer-border-color:           $border-color !default;

$confirm-btn-padding:                   .8rem !default;
$confirm-btn-hover-bg:                  $gray-lighter !default;
$confirm-btn-primary-color:             $brand-primary !default;

$confirm-animation-duration:            .36s !default;

// Alert
$alert-top:                             $modal-top !default;
$alert-left:                            $modal-left !default;
$alert-bg:                              $modal-bg !default;

$alert-dialog-bg:                       $brand-pure !default;
$alert-dialog-width:                    240px !default;
$alert-dialog-height:                   150px !default;
$alert-dialog-padding:                  1rem !default;
$alert-dialog-border-radius:            $border-radius-lg !default;

$alert-addon-font-size:                 3rem !default;
$alert-body-padding:                    1rem 0 !default;
$alert-footer-border-color:             $border-color !default;
$alert-btn-color:                       $brand-primary !default;
$alert-btn-hover-bg:                    $gray-lighter !default;

$alert-animation-duration:              .36s !default;


// Attentions
//
// Define alert colors, border radius, and padding.

$attention-padding:               15px !default;
$attention-border-radius:         $border-radius !default;
$attention-link-font-weight:      bold !default;
$attention-border-width:          $border-width !default;

$attention-success-bg:            $state-success-bg !default;
$attention-success-text:          $state-success-text !default;
$attention-success-border:        $state-success-border !default;

$attention-primary-bg:            $state-primary-bg !default;
$attention-primary-text:          $state-primary-text !default;
$attention-primary-border:        $state-primary-border !default;

$attention-warning-bg:            $state-warning-bg !default;
$attention-warning-text:          $state-warning-text !default;
$attention-warning-border:        $state-warning-border !default;

$attention-danger-bg:             $state-danger-bg !default;
$attention-danger-text:           $state-danger-text !default;
$attention-danger-border:         $state-danger-border !default;

// Message
$message-left:                $sidebar-width !default;
$message-top:                 ($navbar-height + 20) !default;
$message-max-width:           250px !default;
$message-border-radius:       $border-radius-lg !default;
$message-color:               $text-muted !default;
$message-box-shadow:          0 2px 6px $inverse-level-2 !default;

$message-header-font-size:     $font-size-lg !default;
$message-header-padding:       .5rem 0 .5rem .75rem !default;
$message-body-padding:         .5rem 1rem .5rem .75rem !default;

$message-loading-padding:     0 .5rem 0 0 !default;
$message-loading-border-color:$brand-primary !default;

$message-enter-duration:      .24s !default;
$message-leave-duration:      .36s !default;

// Notification
$notification-width:          20rem !default;
$notification-top:            $navbar-height + 10 !default;
$notice-color:                $brand-pure !default;
$notice-border-width:         2px !default;
$notice-border-radius:        $border-radius !default;
$notice-margin-bottom:        $spacer-y !default;
$notice-box-shadow:           0 2px 6px $inverse-level-2 !default;

$notice-header-font-size:     $font-size-h2 !default;
$notice-header-padding:       .75rem 0 .75rem 1rem !default;
$notice-title-margin:         0 0 .2rem 0 !default;
$notice-body-padding:         .75rem 1rem !default;

$notice-primary-bg:           mix($brand-primary, $brand-pure, 68%) !default;
$notice-success-bg:           mix($brand-success, $brand-pure, 68%) !default;
$notice-warning-bg:           mix($brand-warning, $brand-pure, 68%) !default;
$notice-danger-bg:            mix($brand-danger, $brand-pure, 68%) !default;


$notice-enter-duration:      .2s !default;
$notice-leave-duration:      .8s !default;

// Collapse
$collapse-transition:                   all .18s ease-in-out !default;
$collapse-animation:                    scaleIn .36s ease-in-out !default;
$collapse-font-size:                    .8em !default;
$collapse-text-indent:                  1.5rem !default;

// Timeline
$timeline-item-padding-bottom:             2rem !default;

$timeline-item-addon-bg:                   $brand-pure !default;
$timeline-item-addon-color:                $brand-primary !default;
$timeline-item-addon-padding:              2px 2px !default;
$timeline-item-addon-font-size:            1.2rem !default;

$timeline-item-line-left:                  $timeline-item-addon-font-size / 2 !default;
$timeline-item-line-border:                2px solid $border-color !default !default;

$timeline-item-body-line-height:           1.2 !default;
$timeline-item-body-padding-right:         2rem !default;

$timeline-lg-item-addon-font-size:         1.5rem !default;
$timeline-lg-item-addon-padding:           2px 3px !default;
$timeline-lg-item-line-left:               $timeline-lg-item-addon-font-size / 2 !default;
$timeline-lg-item-padding-bottom:          3rem !default;
$timeline-lg-item-body-line-height:        1.5 !default;
$timeline-lg-item-body-padding-right:      2.5rem !default;


// Progress bars

$progress-bg:                 #eee !default;
$progress-bar-color:          #0074d9 !default;
$progress-border-radius:      $border-radius !default;
$progress-box-shadow:         inset 0 .1rem .1rem $inverse-level-1 !default;

$progress-bar-bg:             $brand-primary !default;
$progress-bar-success-bg:     $brand-success !default;
$progress-bar-warning-bg:     $brand-warning !default;
$progress-bar-danger-bg:      $brand-danger !default;


// List group

$list-group-bg:                 $brand-pure !default;
$list-group-color:              $gray-dark !default;
$list-group-border-color:       #ddd !default;
$list-group-border-width:       $border-width !default;
$list-group-border-radius:      $border-radius !default;

$list-group-hover-bg:           #f5f5f5 !default;
$list-group-active-color:       $component-active-color !default;
$list-group-active-bg:          $component-active-bg !default;
$list-group-active-border:      $list-group-active-bg !default;
$list-group-active-text-color:  lighten($list-group-active-bg, 40%) !default;

$list-group-disabled-color:      $gray-light !default;
$list-group-disabled-bg:         $gray-lighter !default;
$list-group-disabled-text-color: $list-group-disabled-color !default;

$list-group-link-color:         #555 !default;
$list-group-link-hover-color:   $list-group-link-color !default;
$list-group-link-heading-color: #333 !default;

$list-group-item-padding-x:             1.25rem !default;
$list-group-item-padding-y:             .75rem !default;
$list-group-item-heading-margin-bottom: 5px !default;


// Image thumbnails

$thumbnail-padding:                 .25rem !default;
$thumbnail-bg:                      $body-bg !default;
$thumbnail-border-width:            $border-width !default;
$thumbnail-border-color:            $border-color !default;
$thumbnail-border-radius:           $border-radius !default;


// Figures

$figure-caption-font-size:          90% !default;


// Breadcrumbs
$breadcrumb-color:                  #777 !default;
$breadcrumb-padding:                $card-padding !default;
$breadcrumb-bg:                     transparent !default;

$breadcrumb-divider-color:          $gray-light !default;
$breadcrumb-active-color:           $gray-light !default;

$breadcrumb-divider:                '/' !default;
$breadcrumb-arrow-divider:          '>' !default;

$breadcrumb-item-padding:            .5rem !default;
$breadcrumb-item-addon-spacer:       5px !default;
$breadcrumb-item-addon-font-size:    1.2rem !default;


// Media objects

$media-margin-top:            15px !default;
$media-heading-margin-bottom:  5px !default;
$media-alignment-padding-x:   10px !default;


// Carousel

$carousel-text-shadow:                        0 1px 2px $inverse-level-6 !default;

$carousel-control-color:                      $brand-pure !default;
$carousel-control-width:                      15% !default;
$carousel-control-sm-up-size:                 30px !default;
$carousel-control-opacity:                    .5 !default;
$carousel-control-font-size:                  20px !default;

$carousel-indicators-width:                   60% !default;

$carousel-indicator-size:                     10px !default;
$carousel-indicator-active-size:              12px !default;
$carousel-indicator-active-bg:                $brand-pure !default;
$carousel-indicator-border-color:             $brand-pure !default;

$carousel-caption-width:                      70% !default;
$carousel-caption-sm-up-width:                60% !default;
$carousel-caption-color:                      $brand-pure !default;


// Close

$close-font-weight:                           normal !default;
$close-color:                                 #000 !default;
$close-text-shadow:                           0 1px 0 $brand-pure !default;


// Loading
$loading-mask-bg:                             transparent !default;

$loading-color:                               $gray-light !default;
$loading-width:                               100px !default;
$loading-height:                              $loading-width !default;
$loading-animation-duration:                  1s !default;
$loading-transition:                          none;


$loading-message-font-size:                   1rem !default;

$loading-fountain-bg:                         $brand-pure !default;
$loading-fountain-width:                      $loading-width !default;
$loading-fountain-height:                     $loading-fountain-width !default;
$loading-fountain-animation-duration:         1.2s !default;

$loading-wave-width:                          $loading-width !default;
$loading-wave-height:                         $loading-wave-width !default;
$loading-wave-border:                         4px solid $brand-primary !default;
$loading-wave-animation-duration:             1.2s !default;

$loading-pendule-item-bg:                     $brand-primary !default;
$loading-pendule-item-width:                  20px !default;
$loading-pendule-item-height:                 $loading-pendule-item-width !default;
$loading-pendule-animation-duration:          .8s !default;
$loading-pendule-width:                       $loading-pendule-item-width * 4 !default;
$loading-pendule-height:                      $loading-pendule-width !default;

$loading-cyclone-width:                       $loading-width !default;
$loading-cyclone-height:                      $loading-cyclone-width !default;
$loading-cyclone-animation-duration:          $loading-animation-duration !default;
$loading-cyclone-line-height:                 2px !default;
$loading-cyclone-line-color:                  lighten($brand-primary, 6%) !default;
$loading-cyclone-ball-width:                  1rem !default;
$loading-cyclone-ball-height:                 $loading-cyclone-ball-width !default;
$loading-cyclone-ball-color:                  darken($brand-primary, 18%) !default;

//Calendar
$calendar-border-color:                       $border-color !default;

$calendar-header-padding:                     .6rem 0 !default;
$calendar-sm-header-padding:                  .3rem 0 !default;
$calendar-header-font-size:                   $font-size-lg !default;
$calendar-sm-header-font-size:                1rem !default;

$calendar-body-bg:                            $brand-pure !default;

$calendar-weekgroup-bg:                      $gray-lightest !default;
$calendar-sm-weekgroup-item-font-size:       $font-size-sm !default;
$calendar-weekgroup-item-padding:            .4rem 0 !default;
$calendar-daygroup-item-height:              8rem !default;
$calendar-sm-daygroup-item-height:           $calendar-daygroup-item-height / 2 !default;
$calendar-daygroup-item-padding:             .4rem !default;
$calendar-daygroup-item-active-bg:           rgba($brand-primary, .1) !default;
$calendar-daygroup-item-disable-opacity:     .4 !default;

//InlineSelect
$inline-select-margin-bottom:                -.5rem !default;
$inline-select-option-color:                 $text-muted !default;
$inline-select-option-padding:               .2rem .6rem !default;
$inline-select-option-border-radius:         $border-radius-sm !default;
$inline-select-option-margin:                0 .5rem .5rem 0 !default;
$inline-select-option-transition:            all .2s ease !default;
$inline-select-option-active-color:          $brand-pure !default;
$inline-select-option-active-bg:             $brand-primary !default;



//Page transition
$page-transition-bg:                         $brand-pure !default;
$page-transition-duration:                   1.2s !default;
$page-transition-enter-boxshadow:            0 0 2px darken($brand-primary, 12%) !default;
$page-transition-leave-boxshadow:            $page-transition-enter-boxshadow !default;


// Perfect scrollbar
// Colors
$ps-border-radius: 6px !default;

$ps-rail-default-opacity: 0 !default;
$ps-rail-container-hover-opacity: 0.6 !default;
$ps-rail-hover-opacity: 0.9 !default;

$ps-bar-bg: transparent !default;
$ps-bar-container-hover-bg: #aaa !default;
$ps-bar-hover-bg: #999 !default;
$ps-rail-hover-bg: #eee !default;

// Sizes
$ps-scrollbar-x-rail-bottom: 0px !default;
$ps-scrollbar-x-rail-height: 15px !default;
$ps-scrollbar-x-bottom: 2px !default;
$ps-scrollbar-x-height: 6px !default;
$ps-scrollbar-x-hover-height: 11px !default;

$ps-scrollbar-y-rail-right: 0 !default;
$ps-scrollbar-y-rail-width: 15px !default;
$ps-scrollbar-y-right: 2px !default;
$ps-scrollbar-y-width: 6px !default;
$ps-scrollbar-y-hover-width: 11px !default;



