// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
// the Bootstrap defaults without modifying key, versioned files.


// Table of Contents
//
// Colors
// Options
// Spacing
// Body
// Links
// Grid breakpoints
// Grid containers
// Grid columns
// Fonts
// Components

@mixin _assert-ascending($map, $map-name) {
  $prev-key: null;
  $prev-num: null;
  @each $key, $num in $map {
    @if $prev-num != null and $prev-num >= $num {
      @warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
  }
}

// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.


// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #999 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f4f4f4 !default;

$brand-primary:             #4285f4 !default;
$brand-secondary:           complement($brand-primary) !default;
$brand-success:             #34a853 !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #fbbc05 !default;
$brand-danger:              #ea4335 !default;

$gray-secondary:            mix($brand-primary, $gray-dark, 20%) !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex:               true !default;
$enable-rounded:            true !default;
$enable-shadows:            true !default;
$enable-gradients:          true !default;
$enable-transitions:        true !default;
$enable-hover-media-query:  true !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
  2: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  3: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  )
) !default;
$border-width: 1px !default;


// Body
//
// Settings for the `<body>` element.

$body-bg:    #fff !default;
$body-color: #666 !default;

$border-color: #e7eaec !default;


// Links
//
// Style anchor elements.

$link-color:            $brand-primary !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1140px
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:      12 !default;
$grid-gutter-width: 30px !default;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  -apple-system, BlinkMacSystemFont, "Microsoft YaHei", "WenQuanYi Micro Hei", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;


// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 14px !default;

$font-size-base: 1rem !default;
$font-size-lg:   1.25rem !default;
$font-size-sm:   .875rem !default;
$font-size-xs:   .75rem !default;

$line-height-base: 1.43 !default;

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;

$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;

$display1-weight: 300 !default;
$display2-weight: 300 !default;
$display3-weight: 300 !default;
$display4-weight: 300 !default;

$headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family:   inherit !default;
$headings-font-weight:   500 !default;
$headings-line-height:   1.1 !default;
$headings-color:         inherit !default;

$lead-font-size:   1.25rem !default;
$lead-font-weight: 300 !default;

$small-font-size: 80% !default;

$text-muted: $gray-light !default;

$abbr-border-color: $gray-light !default;

$blockquote-small-color:  $gray-light !default;
$blockquote-font-size:    ($font-size-base * 1.25) !default;
$blockquote-border-color: $gray-lighter !default;
$blockquote-border-width: .25rem !default;

$hr-border-color: rgba(0,0,0,.1) !default;
$hr-border-width: $border-width !default;

$mark-padding: .2em !default;

$dt-font-weight: bold !default;

$kbd-box-shadow:         inset 0 -.1rem 0 rgba(0,0,0,.25) !default;
$nested-kbd-font-weight: bold !default;

$list-inline-padding: 5px !default;


// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:         (4 / 3) !default;
$line-height-sm:         1.5 !default;

$border-radius:          2px !default;
$border-radius-lg:       4px !default;
$border-radius-sm:       1px !default;

$component-active-color: #fff !default;
$component-active-bg:    mix(#fff, $brand-primary, 60%) !default;

$caret-width:            .3em !default;
$caret-width-lg:         $caret-width !default;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding:            .75rem !default;
$table-sm-cell-padding:         .3rem !default;

$table-bg:                      #fff !default;
$table-bg-accent:               #f9f9f9 !default;
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;

$table-thead-bg:                $gray-lighter !default;

$table-border-width:            $border-width !default;
$table-border-color:            $gray-lighter !default;

$table-inverse-bg:              $gray-dark;
$table-inverse-color:           $gray-lighter;
$table-inverse-thead-color:     #fff;
$table-inverse-border-color:    $gray;



// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-padding-x:                  1rem !default;
$btn-padding-y:                  .5rem !default;
$btn-line-height:                1.25 !default;
$btn-box-shadow:                 inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075) !default;
$btn-active-box-shadow:          0 2px 6px rgba(0, 0, 0, .24), 0 1px 6px rgba(0, 0, 0, .24) !default;
$btn-transition:                 all .2s cubic-bezier(0.4, 0, 0.2, 1) !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $btn-primary-bg !default;

$btn-default-color:            $gray-dark !default;
$btn-default-bg:               #fff !default;
$btn-default-border:           #ccc !default;

$btn-secondary-color:              #fff !default;
$btn-secondary-bg:                 $brand-secondary !default;
$btn-secondary-border:             $btn-secondary-bg !default;


$btn-link-disabled-color:        $gray-light !default;

$btn-padding-x-sm:               .5rem !default;
$btn-padding-y-sm:               .25rem !default;
$btn-font-size-sm:               0.8rem;

$btn-padding-x-lg:               1.5rem !default;
$btn-padding-y-lg:               .75rem !default;

$btn-block-spacing-y:            5px !default;
$btn-toolbar-margin:             15px !default;

$split-btn-dropdown-toggle-padding-x:     8px !default;
$split-btn-lg-dropdown-toggle-padding-x: 12px !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:              $border-radius !default;
$btn-border-radius-lg:           $border-radius-lg !default;
$btn-border-radius-sm:           $border-radius-sm !default;


$btn-group-active-box-shadow:    2px 2px 6px rgba(0, 0, 0, .18), -1px -1px 6px rgba(0, 0, 0, .18) !default;


// Forms

$input-padding-x:                .75rem !default;
$input-padding-y:                .5rem !default;
$input-line-height:              1.25 !default;

$input-bg:                       #fff !default;
$input-bg-disabled:              $gray-lighter !default;

$input-color:                    $gray !default;
$input-border-color:             #ddd !default;
$input-btn-border-width:         $border-width !default; // For form controls and buttons
$input-box-shadow:               inset 0 1px 1px rgba(0,0,0,.075) !default;

$input-border-radius:            $border-radius !default;
$input-border-radius-lg:         $border-radius-lg !default;
$input-border-radius-sm:         $border-radius-sm !default;

$input-border-focus:             lighten($brand-primary, 12%) !default;
$input-box-shadow-focus:         rgba($input-border-focus, .8) !default;
$input-box-focus-shadow:         0 0 8px $input-box-shadow-focus;

$input-color-placeholder:        #999 !default;

$input-padding-x-sm:             .5rem !default;
$input-padding-y-sm:             .25rem !default;

$input-padding-x-lg:             1.5rem !default;
$input-padding-y-lg:             .75rem !default;

$input-height:                   (($font-size-base * $line-height-base) + ($input-padding-y * 2)) !default;
$input-height-lg:                (($font-size-lg * $line-height-lg) + ($input-padding-y-lg * 2)) !default;
$input-height-sm:                (($font-size-sm * $line-height-sm) + ($input-padding-y-sm * 2)) !default;

$form-group-margin-bottom:       $spacer-y !default;

$input-group-addon-bg:           $input-border-color !default;
$input-group-addon-border-color: $input-border-color !default;

$cursor-disabled:                not-allowed !default;
$cursor-pointer:                 pointer !default;

$custom-control-gutter:   1.5rem !default;
$custom-control-spacer-x: 1rem !default;
$custom-control-spacer-y: .25rem !default;

$custom-control-indicator-size:       1rem !default;
$custom-control-indicator-bg:         #ddd !default;
$custom-control-indicator-bg-size:    50% 50% !default;
$custom-control-indicator-box-shadow: inset 0 .25rem .25rem rgba(0,0,0,.1) !default;

$custom-control-disabled-cursor:             $cursor-disabled !default;
$custom-control-disabled-indicator-bg:       #eee !default;
$custom-control-disabled-description-color:  #767676 !default;

$custom-control-checked-indicator-color:      #fff !default;
$custom-control-checked-indicator-bg:         #0074d9 !default;
$custom-control-checked-indicator-box-shadow: none !default;

$custom-control-focus-indicator-box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9 !default;

$custom-control-active-indicator-color:      #fff !default;
$custom-control-active-indicator-bg:         #84c6ff !default;
$custom-control-active-indicator-box-shadow: none !default;


$checkbox-label-space-x:                    $spacer-y / 2 !default;
$checkbox-space-x:                          $spacer-y !default;
$checkbox-space-y:                          $spacer-y !default;
$checkbox-addon-width:                      1 !default;
$checkbox-addon-height:                     $checkbox-addon-width !default;
$checkbox-addon-padding:                    round(($line-height-base - $checkbox-addon-width) * $font-size-root / 2) !default;
$checkbox-addon-border-color:               #ddd !default;
$checkbox-addon-border-radius:              $border-radius !default;
$checkbox-addon-checked-color:              $brand-primary !default;
$checkbox-addon-transtion:                  all .2s ease !default;
$checkbox-addon-disabled-bg:                $gray-lighter !default;
$checkbox-addon-active-box-shadow:          inset 0 0 2rem rgba($checkbox-addon-border-color, .8) !default;

$radio-addon-width:                         0.6 !default;
$radio-addon-height:                        $radio-addon-width !default;
$radio-addon-padding:                       round(($line-height-base - $radio-addon-width) * $font-size-root / 2) !default;

$switch-width:                              3 !default;
$switch-bg:                                 $border-color !default;
$switch-addon-bg:                           #fff !default;
$switch-addon-width:                        1 !default;
$switch-addon-height:                       $switch-addon-width !default;
$switch-addon-padding:                      round(($line-height-base - $switch-addon-width) *  $font-size-root / 2) !default;
$switch-addon-translateX:                   translateX(round(($switch-width - $switch-addon-width) * $font-size-root) - $switch-addon-padding * 2) !default;

// == 下拉框

$select-line-height:                        $input-line-height !default;
$select-transition:                         all .2s ease !default;
$select-bg:                                 #fff !default;
$select-disable-bg:                         $gray-lighter !default;

$select-selection-padding-right:            2.25rem !default;
$select-options-top:                        120% !default;
$select-options-box-shadow:                 0 2px 6px rgba(0,0,0,.2) !default;
$select-options-border:                     1px solid $input-border-color !default;

$select-option-padding:                     $input-padding-y $input-padding-x !default;
$select-option-hover-bg:                    #f5f5f5 !default;
$select-option-active-color:                $brand-primary !default;
$select-option-disable-color:               $gray-light !default;

//时间空间
$datepicker-bg:                             #fff !default;
$datepicker-width:                          15rem !default;
$datepicker-border:                         1px solid $border-color !default;
$datepicker-font-size:                      0.8rem !default;
$datepicker-box-shadow:                     0 2px 8px rgba(0,0,0,.2) !default;

$datepicker-header-padding:                 0 0.5rem !default;

$datepicker-header-btn-scale:               1.5 !default;
$datepicker-header-btn-padding:             0.75rem 0.5rem !default;
$datepicker-header-btn-font-size:           1.2rem !default;
$datepicker-header-btn-transition:          all .18s linear !default;
$datepicker-header-btn-hover-color:         $brand-primary !default;

$datepicker-caption-padding:                0.75rem 0 !default;
$datepicker-caption-hover-color:            $brand-primary !default;

$datepicker-weekgroup-padding:              0.5rem !default;
$datepicker-weekgroup-item-padding:         0 0.5rem !default;

$datepicker-daygroup-padding:               0 0.5rem 0.5rem !default;

$datepicker-daygroup-item-padding:          0.25rem 0 !default;
$datepicker-daygroup-item-border-radius:    $border-radius !default;
$datepicker-daygroup-item-hover-bg:         mix($brand-primary, #fff, 20%) !default;
$datepicker-daygroup-item-active-bg:        $brand-primary !default;
$datepicker-daygroup-item-active-color:     #fff !default;
$datepicker-daygroup-item-active-border:    $brand-primary !default;
$datepicker-daygroup-item-disable-color:    #ddd !default;

$datepicker-yeargroup-height:               14rem !default;
$datepicker-yeargroup-item-padding:         0.5rem 0 !default;
$datepicker-yeargroup-item-active-bg:       $brand-primary !default;
$datepicker-yeargroup-item-active-color:    #fff !default;
$datepicker-yeargroup-item-disabled-color:  #ddd !default;

$datepicker-footer-padding:                0.75rem 1rem !default;

$custom-select-padding-x:          .75rem  !default;
$custom-select-padding-y:          .375rem !default;
$custom-select-indicator-padding:  1rem !default; // Extra padding to account for the presence of the background-image based indicator
$custom-select-color:         $input-color !default;
$custom-select-bg:            #fff !default;
$custom-select-bg-size:       8px 10px !default; // In pixels because image dimensions
$custom-select-indicator:     url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") !default;
$custom-select-border-width:  $input-btn-border-width !default;
$custom-select-border-color:  $input-border-color !default;
$custom-select-border-radius: $border-radius !default;

$custom-select-focus-border-color: #51a7e8 !default;
$custom-select-focus-box-shadow:   inset 0 1px 2px rgba(0, 0, 0, .075), 0 0 5px rgba(81, 167, 232, .5) !default;

$custom-select-sm-padding-y: .2rem !default;
$custom-select-sm-font-size: 75% !default;

$custom-file-height:           2.5rem !default;
$custom-file-width:            14rem !default;
$custom-file-focus-box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9 !default;

$custom-file-padding-x:     .5rem !default;
$custom-file-padding-y:     1rem !default;
$custom-file-line-height:   1.5 !default;
$custom-file-color:         #555 !default;
$custom-file-bg:            #fff !default;
$custom-file-border-width:  $border-width !default;
$custom-file-border-color:  #ddd !default;
$custom-file-border-radius: $border-radius !default;
$custom-file-box-shadow:    inset 0 .2rem .4rem rgba(0,0,0,.05) !default;
$custom-file-button-color:  $custom-file-color !default;
$custom-file-button-bg:     #eee !default;
$custom-file-text: (
  placeholder: (
    en: "Choose file..."
  ),
  button-label: (
    en: "Browse"
  )
) !default;


$switch-width:                  3rem !default;
$switch-toggle-bg:              #ccc !default;
$switch-toggle-active-bg:       $brand-primary;
$switch-toggle-padding:         2px !default;

$switch-toggle-addon-bg:        #fdfdfd;
$switch-toggle-addon-width:     1rem;
$switch-toggle-addon-height:    $switch-toggle-addon-width;
$switch-toggle-addon-translateX: $switch-width - $switch-toggle-addon-width - 0.4rem;

$checkbox-height:               round(1.4 * $font-size-root);
$checkbox-width:                round(1.4 * $font-size-root);

$radio-height:                  round(1.5 * $font-size-root);
$radio-width:                   round(1.5 * $font-size-root);


// Form validation icons
$form-icon-success: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E") !default;
$form-icon-warning: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E") !default;
$form-icon-danger: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E") !default;


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:             160px !default;
$dropdown-padding-y:             0.5rem !default;
$dropdown-margin-top:            2px !default;
$dropdown-bg:                    #fff !default;
$dropdown-border-color:          rgba($gray-secondary, .2) !default;
$dropdown-border-width:          $border-width !default;
$dropdown-divider-bg:            #e5e5e5 !default;
$dropdown-box-shadow:            0 2px 6px rgba(0,0,0,.2) !default;

$dropdown-link-color:            $gray-dark !default;
$dropdown-link-hover-color:      darken($gray-dark, 5%) !default;
$dropdown-link-hover-bg:         #f5f5f5 !default;

$dropdown-link-active-color:     $gray-light !default;
$dropdown-link-active-bg:        $component-active-bg !default;

$dropdown-link-disabled-color:   $gray-light !default;

$dropdown-item-padding-x:        1.5rem !default;
$dropdown-item-padding-y:        0.5rem !default;

$dropdown-header-color:          $gray-light !default;

$dropdown-toggle-transition:     all .2s cubic-bezier(0.4, 0, 0.2, 1) !default;


// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown-backdrop:         990 !default;
$zindex-navbar:                   1000 !default;
$zindex-select:                   1000 !default;
$zindex-dropdown:                 1000 !default;
$zindex-datepicker:               1000 !default;
$page-transition-z-index:         1000 !default;

$zindex-navbar-fixed:             1030 !default;
$zindex-navbar-sticky:            1030 !default;
$zindex-modal-bg:                 1040 !default;
$zindex-modal:                    1050 !default;
$zindex-message:                  1060 !default;
$zindex-notification:             1060 !default;
$zindex-popover:                  1060 !default;
$zindex-tooltip:                  1060 !default;


// Navbar
$navbar-height:                     60px !default;
$navbar-line-height:                $navbar-height !default;
$navbar-padding-x:                  3rem !default;
$navbar-padding-y:                  0 !default;
$navbar-brand-padding-y:            .25rem !default;

$navbar-bg:                         $gray-lightest !default;
$navbar-color:                      $gray-light !default;
$navbar-border-color:               $border-color !default;

$navbar-primary-bg:                 $brand-primary !default;
$navbar-primary-color:              #fff !default;
$navbar-primary-border-color:       $navbar-primary-bg !default;

$navbar-pure-bg:                    #fff !default;
$navbar-pure-color:                 $body-color !default;
$navbar-pure-border-color:          $navbar-pure-bg !default;


//Sidebar
$sidebar-width:                                 12rem !default;
$sidebar-color:                                 $gray-light !default;
$sidebar-bg:                                    $gray-secondary !default;

$sidebar-footer-bg:                             darken($sidebar-bg, 3%) !default;
$sidebar-footer-font-size:                      $font-size-sm !default;
$sidebar-footer-height:                         35px !default;

$sidebar-nav-padding-bottom:                    2rem !default;

$sidebar-nav-link-color:                        #a7b1c2 !default;
$sidebar-nav-link-padding:                      0.6rem 1.2rem !default;
$sidebar-nav-link-border-width:                 2px !default;
$sidebar-nav-link-active-bg:                    darken($sidebar-bg, 3%) !default;
$sidebar-nav-link-active-color:                 #fff !default;
$sidebar-nav-link-active-border-color:          $brand-primary !default;
$sidebar-nav-link-active-box-shadow:            inset 0 0 3rem darken($sidebar-bg, 4%) !default;

// Navs
$nav-item-margin:                               .2rem !default;
$nav-item-spacer-x:                             1rem !default;
$nav-item-inline-spacer:                        1rem !default;

$nav-title-color:                               #fff !default;
$nav-title-padding:                             1rem 0.5rem !default;
$nav-title-font-size:                           $font-size-sm !default;

$nav-link-padding:                              .5em 1em !default;
$nav-link-active-color:                         $brand-primary !default;
$nav-link-hover-bg:                             $gray-lighter !default;

$nav-disabled-link-color:                       $gray-light !default;
$nav-disabled-link-hover-color:                 $gray-light !default;
$nav-disabled-link-hover-bg:                    transparent !default;

$navbar-sidebar-title-bg:                       darken($sidebar-bg, 3%) !default;
$navbar-sidebar-title-font-size:                $font-size-lg !default;
$navbar-sidebar-title-color:                    $gray-lighter !default;
$navbar-sidebar-title-width:                    $sidebar-width !default;
$navbar-sidebar-title-margin:                   0  $nav-item-spacer-x 0 $navbar-padding-x / -1 !default;


$nav-tabs-link-color:                           $gray !default;
$nav-tabs-border-color:                         $brand-primary !default;
$nav-tabs-border-width:                         2px !default;
$nav-tabs-link-border-width:                    1px !default;
$nav-tabs-link-hover-bg:                        $gray-lighter !default;
$nav-tabs-link-hover-border-color:              $nav-tabs-link-hover-bg !default;

$nav-tabs-active-link-hover-color:              #fff !default;
$nav-tabs-active-link-hover-bg:                 $nav-tabs-border-color !default;
$nav-tabs-active-link-border-color:             $nav-tabs-border-color !default;
$nav-tabs-active-link-hover-border-color:       #ddd !default;
$nav-tabs-justified-link-border-color:          #ddd !default;

$nav-tabs-justified-active-link-border-color:   $body-bg !default;

$nav-pills-color:                                $nav-tabs-link-color !default;
$nav-pills-border-radius:                        $border-radius !default;
$nav-pills-active-link-color:                    $component-active-color !default;
$nav-pills-active-link-bg:                       $brand-primary !default;


// Pagination

$pagination-padding-x:                .8rem !default;
$pagination-padding-y:                .4rem !default;
$pagination-padding-x-sm:             .75rem !default;
$pagination-padding-y-sm:             .275rem !default;
$pagination-padding-x-lg:             1.5rem !default;
$pagination-padding-y-lg:             .75rem !default;


$pagination-color:                     $gray-light !default;
$pagination-bg:                        #fff !default;
$pagination-border-width:              $border-width !default;
$pagination-border-color:              #ddd !default;
$pagination-transition:               all .2s cubic-bezier(0.4, 0, 0.2, 1) !default;

$pagination-hover-color:               $brand-primary !default;
$pagination-hover-bg:                  #fff !default;
$pagination-hover-border:              $brand-primary !default;

$pagination-active-color:              #fff !default;
$pagination-active-bg:                 $brand-primary !default;
$pagination-active-border:             $brand-primary !default;

$pagination-disabled-color:            $gray-light !default;
$pagination-disabled-bg:               #fff !default;
$pagination-disabled-border:           #ddd !default;

$page-item-spacer-x:                   0.6rem;


// Jumbotron

$jumbotron-padding:              2rem !default;
$jumbotron-bg:                   $gray-lighter !default;


// Form states and alerts
//
// Define colors for form feedback states and, by default, alerts.

$state-success-text:             darken($brand-success, 3%) !default;
$state-success-bg:               lighten($brand-success, 36%) !default;
$state-success-border:           darken($state-success-bg, 6%) !default;

$state-primary-text:             darken($brand-primary, 3%) !default;
$state-primary-bg:               lighten($brand-primary, 24%) !default;
$state-primary-border:           darken($state-primary-bg, 6%) !default;

$state-warning-text:             darken($brand-warning, 3%) !default;
$state-warning-bg:               lighten($brand-warning, 36%) !default;
$mark-bg:                        $state-warning-bg !default;
$state-warning-border:           darken($state-warning-bg, 12%) !default;


$state-danger-text:              darken($brand-danger, 3%) !default;
$state-danger-bg:                lighten($brand-danger, 36%) !default;
$state-danger-border:            darken($state-danger-bg, 6%) !default;


// Cards
$card-spacer-x:            1.25rem !default;
$card-spacer-y:            .75rem !default;
$card-border-width:        1px !default;
$card-border-radius:       $border-radius-sm !default;
$card-border-color:        rgba(0,0,0,.125) !default;
$card-border-radius-inner: $card-border-radius !default;
$card-cap-bg:              #f5f5f5 !default;
$card-bg:                  #fff !default;

$card-link-hover-color:    #fff !default;

$card-deck-margin:         .625rem !default;

$card-columns-sm-up-column-gap: 1.25rem !default;


// Tooltips

$tooltip-max-width:           15rem !default;
$tooltip-color:               #fff !default;
$tooltip-bg:                  $gray-secondary !default;
$tooltip-opacity:             .9 !default;
$tooltip-padding-y:           0.3rem !default;
$tooltip-padding-x:           0.6rem !default;
$tooltip-margin:              3px !default;
$tooltip-border-radius:       2px !default;

$tooltip-arrow-width:         0.5rem !default;
$tooltip-arrow-color:         $tooltip-bg !default;

$tooltip-transition:          all 0.36s cubic-bezier(0.4, 0, 0.2, 1) !default;

// Popovers

$popover-bg:                          #fff !default;
$popover-max-width:                   276px !default;
$popover-border-width:                $border-width !default;
$popover-border-color:                rgba($gray-secondary, .2) !default;
$popover-box-shadow:                  0 2px 6px rgba(0,0,0,.2) !default;

$popover-title-bg:                    $gray-secondary !default;
$popover-title-color:                 #fff;
$popover-title-padding-x:             0.8rem !default;
$popover-title-padding-y:             0.4rem !default;
$popover-title-font-size:             1.1rem;

$popover-content-padding-x:           0.8rem !default;
$popover-content-padding-y:           0.6rem !default;

$popover-arrow-width:                 6px !default;
$popover-arrow-color:                 $popover-bg !default;

$popover-arrow-outer-width:           ($popover-arrow-width + 1px) !default;
$popover-arrow-outer-color:           fade-in($popover-border-color, .2) !default;


// Tags

$tag-default-bg:            #ccc !default;
$tag-primary-bg:            $brand-primary !default;
$tag-success-bg:            $brand-success !default;
$tag-info-bg:               $brand-info !default;
$tag-warning-bg:            $brand-warning !default;
$tag-danger-bg:             $brand-danger !default;

$tag-color:                 #fff !default;
$tag-link-hover-color:      #fff !default;
$tag-font-size:             75% !default;
$tag-font-weight:           bold !default;
$tag-padding-x:             .4em !default;
$tag-padding-y:             .25em !default;
$tag-border-radius:         $border-radius-sm;

$tag-pill-padding-x:        .6em !default;
$tag-pill-border-radius:    10rem !default;

// Badge
$badge-color:                   #fff !default;
$badge-padding:                 3px !default;
$badge-font-size:               $font-size-sm !default;
$badge-box-shadow:              0 0 0 1px #fff !default;
$badge-min-width:               20px !default;

// Modals

$modal-bg:                    rgba(0, 0, 0, 0.3) !default;
$modal-inner-padding:         0.8rem !default;
$modal-border-radius:         4px !default;

$modal-dialog-margin:         10px !default;
$modal-dialog-sm-up-margin-y: ($navbar-height + 20) !default;

$modal-title-padding:         0.8rem !default;
$modal-title-line-height:     $line-height-base !default;

$modal-content-border-color:     rgba($gray-secondary, .06) !default;
$modal-content-border-width:     $border-width !default;
$modal-content-xs-box-shadow:    0 3px 9px rgba(0,0,0,.5) !default;
$modal-content-sm-up-box-shadow: 0 5px 15px rgba(0,0,0,.5) !default;

$modal-header-bg:             $gray-secondary !default;
$modal-header-color:          #fff !default;
$modal-header-border-color:   #e5e5e5 !default;
$modal-header-border-width:   $modal-content-border-width !default;

$modal-body-bg:               #fff !default;

$modal-footer-bg:             #fff !default;
$modal-footer-border-color:   $modal-header-border-color !default;
$modal-footer-border-width:   $modal-header-border-width !default;

$modal-lg:                    900px !default;
$modal-md:                    600px !default;
$modal-sm:                    300px !default;

$modal-animation-duration:    0.36s !default;


// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding:               15px !default;
$alert-border-radius:         $border-radius !default;
$alert-link-font-weight:      bold !default;
$alert-border-width:          $border-width !default;

$alert-success-bg:            $state-success-bg !default;
$alert-success-text:          $state-success-text !default;
$alert-success-border:        $state-success-border !default;

$alert-primary-bg:            $state-primary-bg !default;
$alert-primary-text:          $state-primary-text !default;
$alert-primary-border:        $state-primary-border !default;

$alert-warning-bg:            $state-warning-bg !default;
$alert-warning-text:          $state-warning-text !default;
$alert-warning-border:        $state-warning-border !default;

$alert-danger-bg:             $state-danger-bg !default;
$alert-danger-text:           $state-danger-text !default;
$alert-danger-border:         $state-danger-border !default;

// Message
$message-top:                 ($navbar-height + 20) !default;
$message-max-width:           500px !default;
$message-border-radius:       $border-radius-lg !default;
$message-color:               $text-muted !default;
$message-box-shadow:          0 2px 6px rgba(0,0,0,.2) !default;

$message-header-font-size:     $font-size-lg !default;
$message-header-padding:       0.5rem 0 0.5rem 0.75rem !default;
$message-body-padding:         0.5rem 1rem 0.5rem 0.75rem !default;

$message-loading-padding:     0 0.5rem 0 0 !default;
$message-loading-border-color:$brand-primary !default;

$message-enter-duration:      0.24s !default;
$message-leave-duration:      0.36s !default;

// Notification
$notification-width:          300px !default;

$notice-bg:                   #fff !default;
$notice-border-radius:        $border-radius !default;
$notice-margin-bottom:        $spacer-y !default;
$notice-box-shadow:           0 2px 6px rgba(0,0,0,.2) !default;

$notice-header-font-size:     $font-size-h2 !default;
$notice-header-padding:       0.75rem 0 0.75rem 1rem !default;

$notice-title-margin:         0 0 0.2rem 0 !default;

$notice-body-padding:         0.75rem 1rem !default;

$notice-enter-duration:      0.2s !default;
$notice-leave-duration:      0.8s !default;

// Timeline
$timeline-item-padding-bottom:             2rem !default;

$timeline-item-addon-bg:                   #fff !default;
$timeline-item-addon-color:                $brand-primary !default;
$timeline-item-addon-padding:              2px 2px !default;
$timeline-item-addon-font-size:            1.2rem !default;

$timeline-item-line-left:                  $timeline-item-addon-font-size / 2 !default;
$timeline-item-line-border:                2px solid $border-color !default !default;

$timeline-item-body-line-height:           1.2 !default;
$timeline-item-body-padding-right:         2rem !default;

$timeline-lg-item-addon-font-size:         1.5rem !default;
$timeline-lg-item-addon-padding:           2px 3px !default;
$timeline-lg-item-line-left:               $timeline-lg-item-addon-font-size / 2 !default;
$timeline-lg-item-padding-bottom:          3rem !default;
$timeline-lg-item-body-line-height:        1.5 !default;
$timeline-lg-item-body-padding-right:      2.5rem !default;


// Progress bars

$progress-bg:                 #eee !default;
$progress-bar-color:          #0074d9 !default;
$progress-border-radius:      $border-radius !default;
$progress-box-shadow:         inset 0 .1rem .1rem rgba(0,0,0,.1) !default;

$progress-bar-bg:             $brand-primary !default;
$progress-bar-success-bg:     $brand-success !default;
$progress-bar-warning-bg:     $brand-warning !default;
$progress-bar-danger-bg:      $brand-danger !default;


// List group

$list-group-bg:                 #fff !default;
$list-group-color:              $gray-dark !default;
$list-group-border-color:       #ddd !default;
$list-group-border-width:       $border-width !default;
$list-group-border-radius:      $border-radius !default;

$list-group-hover-bg:           #f5f5f5 !default;
$list-group-active-color:       $component-active-color !default;
$list-group-active-bg:          $component-active-bg !default;
$list-group-active-border:      $list-group-active-bg !default;
$list-group-active-text-color:  lighten($list-group-active-bg, 40%) !default;

$list-group-disabled-color:      $gray-light !default;
$list-group-disabled-bg:         $gray-lighter !default;
$list-group-disabled-text-color: $list-group-disabled-color !default;

$list-group-link-color:         #555 !default;
$list-group-link-hover-color:   $list-group-link-color !default;
$list-group-link-heading-color: #333 !default;

$list-group-item-padding-x:             1.25rem !default;
$list-group-item-padding-y:             .75rem !default;
$list-group-item-heading-margin-bottom: 5px !default;


// Image thumbnails

$thumbnail-padding:           .25rem !default;
$thumbnail-bg:                $body-bg !default;
$thumbnail-border-width:      $border-width !default;
$thumbnail-border-color:      #ddd !default;
$thumbnail-border-radius:     $border-radius !default;
$thumbnail-box-shadow:        0 1px 2px rgba(0,0,0,.075) !default;


// Figures

$figure-caption-font-size: 90% !default;


// Breadcrumbs

$breadcrumb-padding-y:          .75rem !default;
$breadcrumb-padding-x:          1rem !default;
$breadcrumb-item-padding:       .5rem !default;

$breadcrumb-bg:                 transparent !default;
$breadcrumb-divider-color:      $gray-light !default;
$breadcrumb-active-color:       $gray-light !default;

$breadcrumb-divider:            "/" !default;
$breadcrumb-arrow-divider:      ">" !default;


// Media objects

$media-margin-top:            15px !default;
$media-heading-margin-bottom:  5px !default;
$media-alignment-padding-x:   10px !default;


// Carousel

$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6) !default;

$carousel-control-color:                      #fff !default;
$carousel-control-width:                      15% !default;
$carousel-control-sm-up-size:                 30px !default;
$carousel-control-opacity:                    .5 !default;
$carousel-control-font-size:                  20px !default;

$carousel-indicators-width:                   60% !default;

$carousel-indicator-size:                     10px !default;
$carousel-indicator-active-size:              12px !default;
$carousel-indicator-active-bg:                #fff !default;
$carousel-indicator-border-color:             #fff !default;

$carousel-caption-width:                      70% !default;
$carousel-caption-sm-up-width:                60% !default;
$carousel-caption-color:                      #fff !default;


// Close

$close-font-weight:                           normal !default;
$close-color:                                 #000 !default;
$close-text-shadow:                           0 1px 0 #fff !default;


// Loading
$loading-mask-bg:                             transparent !default;

$loading-color:                               $gray-light !default;
$loading-width:                               100px !default;
$loading-height:                              $loading-width !default;
$loading-animation-duration:                  1s !default;

$loading-message-font-size:                   0.8rem !default;

$loading-fountain-bg:                         #fff !default;
$loading-fountain-width:                      $loading-width !default;
$loading-fountain-height:                     $loading-fountain-width !default;
$loading-fountain-animation-duration:         1.2s !default;

$loading-wave-width:                          $loading-width !default;
$loading-wave-height:                         $loading-wave-width !default;
$loading-wave-border:                         4px solid $brand-primary !default;
$loading-wave-animation-duration:             1.2s !default;

$loading-pendule-item-bg:                     $brand-primary !default;
$loading-pendule-item-width:                  20px !default;
$loading-pendule-item-height:                 $loading-pendule-item-width !default;
$loading-pendule-animation-duration:          0.8s !default;
$loading-pendule-width:                       $loading-pendule-item-width * 4 !default;
$loading-pendule-height:                      $loading-pendule-width !default;

$loading-cyclone-width:                       $loading-width !default;
$loading-cyclone-height:                      $loading-cyclone-width !default;
$loading-cyclone-animation-duration:          $loading-animation-duration !default;
$loading-cyclone-line-height:                 2px !default;
$loading-cyclone-line-color:                  lighten($brand-primary, 6%) !default;
$loading-cyclone-ball-width:                  1rem !default;
$loading-cyclone-ball-height:                 $loading-cyclone-ball-width !default;
$loading-cyclone-ball-color:                  darken($brand-primary, 18%) !default;

//Page transition
$page-transition-bg:                         #fff !default;
$page-transition-duration:                   1.2s !default;
$page-transition-enter-boxshadow:            0 0 2px darken($brand-primary, 12%) !default;
$page-transition-leave-boxshadow:            $page-transition-enter-boxshadow !default;


