// Alert
$alert-bg: $modal-bg !default;

$alert-dialog-bg: $brand-pure !default;
$alert-dialog-width: 240px !default;
$alert-dialog-height: 150px !default;
$alert-dialog-padding: 1rem !default;
$alert-dialog-border-radius: $border-radius-lg !default;

$alert-addon-font-size: 3rem !default;
$alert-body-padding: 1rem 0 !default;
$alert-footer-border-color: $border-color !default;
$alert-btn-color: $brand-primary !default;
$alert-btn-hover-bg: $gray-lighter !default;

$alert-animation-duration: 0.36s !default;
