// Attentions
//
// Define alert colors, border radius, and padding.

$attention-padding: 0 rem(8px) 0 rem(15px) !default;
$attention-border-radius: $border-radius !default;
$attention-border-width: $border-width !default;

$attention-close-padding: 0 rem(7px) !default;
$attention-header-font-size: rem(20px) !default;

$attention-body-padding: rem(8px) rem(8px) rem(8px) rem(10px) !default;
$attention-body-font-size: rem(14px) !default;
$attention-body-line-height: rem(22px) !default;

