// Badge
$badge-color: $brand-pure !default;
$badge-padding: rem(4px) !default;
$badge-font-size: $font-size-sm !default;
$badge-box-shadow: 0 0 0 rem(1px) $brand-pure !default;
$badge-min-width: rem(12px) !default;

$badge-min-width-sm: 1rem !default;
$badge-font-size-sm: 75% !default;

$badge-legend-margin-right: 0 !default;
$badge-legend-addon-margin-right: $spacer-y / 2 !default;
