// Breadcrumbs
$breadcrumb-color: $gray-darker !default;
$breadcrumb-font-size: rem(16px) !default;
$breadcrumb-padding: $card-padding !default;
$breadcrumb-bg: transparent !default;
$breadcrumb-divider-color: $gray !default;
$breadcrumb-active-color: $gray !default;
$breadcrumb-divider: '/' !default;
$breadcrumb-arrow-divider: '>' !default;
$breadcrumb-item-padding: 0.25rem !default;
$breadcrumb-item-addon-spacer: rem(5px) !default;
$breadcrumb-item-addon-font-size: 1.2rem !default;
