// Breadcrumbs
$breadcrumb-color: $gray-darker !default;
$breadcrumb-last-color: $gray !default;
$breadcrumb-icon-color: $gray-dark !default;
$breadcrumb-font-size: rem(14px) !default;
$breadcrumb-padding: $card-padding !default;
$breadcrumb-margin: rem(8px) !default;
$breadcrumb-bg: transparent !default;
$breadcrumb-divider-color: $gray-light!default;
$breadcrumb-active-color: $gray-light!default;
$breadcrumb-divider: '/' !default;
$breadcrumb-arrow-divider: '>' !default;
$breadcrumb-item-padding: 0.25rem !default;
$breadcrumb-item-addon-spacer: rem(5px) !default;
$breadcrumb-item-addon-font-size: 1.2rem !default;
