// Breadcrumbs
$breadcrumb-color: #777 !default;
$breadcrumb-padding: $card-padding !default;
$breadcrumb-bg: transparent !default;

$breadcrumb-divider-color: $gray-light !default;
$breadcrumb-active-color: $gray-light !default;

$breadcrumb-divider: '/' !default;
$breadcrumb-arrow-divider: '>' !default;

$breadcrumb-item-padding: 0.5rem !default;
$breadcrumb-item-addon-spacer: 5px !default;
$breadcrumb-item-addon-font-size: 1.2rem !default;
