$btn-padding-x: rem(15px) !default;
$btn-padding-y: rem(6px) !default;
$btn-line-height: rem(22px) !default;
$btn-font-size: rem(14px) !default;

$btn-hover-primary-box-shadow: 0px rem(2px) rem(10px) 0px
  rgba(39, 107, 242, 0.3) !default; // hover---primary的button的box shadow
$btn-hover-default-box-shadow: 0px rem(2px) rem(10px) 0px
  rgba(145, 156, 179, 0.3) !default; // hover---secondary和default的button的box shadow

$btn-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !default;
$btn-disabled-color: $gray !default;
$btn-disabled-bg: $gray-light !default;
$btn-disabled-border: $gray-light !default;

$btn-primary-color: $brand-pure !default;
$btn-primary-bg: $brand-primary !default;
$btn-active-primary-bg: #0083e0 !default;
$btn-primary-border: $btn-primary-bg !default;
$btn-hover-primary-bg: #0095ff !default;

$btn-default-color: #595959 !default;
$btn-default-bg: $brand-pure !default;
$btn-active-default-bg: #f7f9fc !default;
$btn-default-border: $gray-light !default;
$btn-hover-default-bg: $brand-pure !default;

$btn-dash-border-type: dashed !default;
$btn-dash-disabled-bg: #fff !default;

$btn-text-hover-bg: #e6f3fd !default;
$btn-active-text-bg: #e4f2fb !default;

$btn-secondary-color: $brand-primary !default;
$btn-secondary-bg: $brand-pure !default;
$btn-active-secondary-bg: rgba(39, 107, 242, 0.06) !default;
$btn-secondary-border: $brand-primary !default;

$btn-link-disabled-color: $gray-light !default;

$btn-padding-x-sm: rem(15px) !default;
$btn-padding-y-sm: rem(5px) !default;
$btn-font-size-sm: rem(12px) !default;
$btn-line-height-sm: rem(20px) !default;

$btn-padding-x-lg: rem(19px) !default;
$btn-padding-y-lg: rem(7px) !default;
$btn-font-size-lg: rem(16px) !default;
$btn-line-height-lg: rem(24px) !default;

$btn-padding-x-xs: rem(11px) !default;
$btn-padding-y-xs: rem(3px) !default;
$btn-font-size-xs: rem(12px) !default;
$btn-line-height-xs: rem(20px) !default;

$btn-block-spacing-y: rem(5px) !default;
$btn-toolbar-margin: rem(15px) !default;

$split-btn-dropdown-toggle-padding-x: rem(8px) !default;
$split-btn-lg-dropdown-toggle-padding-x: rem(12px) !default;

$btn-border-radius: rem(2px) !default;
$btn-border-radius-icon: 50% !default;

$btn-group-active-box-shadow: rem(2px) rem(2px) rem(6px) $inverse-level-1,
  rem(-1px) rem(-1px) rem(6px) $inverse-level-1 !default;
$btn-group-padding-x-sm: $btn-padding-x-sm !default;
$btn-group-padding-y-sm: $btn-padding-y-sm !default;

// icon button 的padding md，sm，xs共用一个padding
$btn-icon-size-lg: rem(20px);
$btn-icon-padding-lg: rem(9px);

$btn-icon-size-default: rem(16px);
$btn-icon-padding-md: rem(9px);

$btn-icon-padding-sm: rem(7px);

$btn-icon-padding-xs: rem(5px);
