// Carousel

$carousel-text-shadow: 0 1px 2px $inverse-level-6 !default;

$carousel-control-color: $brand-pure !default;
$carousel-control-width: 15% !default;
$carousel-control-sm-up-size: 30px !default;
$carousel-control-opacity: 0.5 !default;
$carousel-control-font-size: 20px !default;

$carousel-indicators-width: 60% !default;

$carousel-indicator-size: 10px !default;
$carousel-indicator-active-size: 12px !default;
$carousel-indicator-active-bg: $brand-pure !default;
$carousel-indicator-border-color: $brand-pure !default;

$carousel-caption-width: 70% !default;
$carousel-caption-sm-up-width: 60% !default;
$carousel-caption-color: $brand-pure !default;
