// Cards
$card-padding: rem(20px) !default;
$card-spacer-x: $card-padding !default;
$card-spacer-y: $card-padding !default;
$card-border-width: 1px !default;
$card-border-color: $border-color !default;
$card-border-radius: $border-radius-sm !default;
$card-border-radius-inner: $card-border-radius !default;
$card-box-shadow: $box-shadow-light !default;
$card-cap-bg: $gray-lighter !default;
$card-cap-color: $gray-base !default;
$card_cap-font-size: $font-size-h5 !default;
$card-cap-font-weight: $font-weight-bold !default;
$card-bg: $brand-pure !default;

$card-link-hover-color: $brand-pure !default;

$card-deck-margin: 0.625rem !default;

$card-columns-sm-up-column-gap: 1.25rem !default;
