// Cards
$card-padding: 1.25rem !default;
$card-spacer-x: 0.75rem !default;
$card-spacer-y: $card-padding !default;
$card-border-width: 1px !default;
$card-border-radius: $border-radius-sm !default;
$card-border-color: $border-color !default;
$card-border-radius-inner: $card-border-radius !default;
$card-cap-bg: #f5f5f5 !default;
$card-bg: $brand-pure !default;

$card-link-hover-color: $brand-pure !default;

$card-deck-margin: 0.625rem !default;

$card-columns-sm-up-column-gap: 1.25rem !default;
