//== Checkbox
$checkbox-label-space-x: rem(8px) !default;
$checkbox-space-x: rem(24px) !default;
$checkbox-addon-size: 1.14 !default;
$checkbox-addon-i-size: 0.7 !default;
$checkbox-indeterminate-i-size: 0.4 !default;
$checkbox-addon-offset-x: round(
    ($checkbox-addon-size - $checkbox-indeterminate-i-size) * $font-size-root / 2 - 1
) !default;
$checkbox-addon-offset-y: $checkbox-addon-offset-x;
$checkbox-addon-border-color: $gray-light !default;
$checkbox-addon-border-width: 1px !default;
$checkbox-addon-border-radius: $border-radius !default;
$checkbox-addon-transtion: all 0.2s ease !default;
$checkbox-addon-bg-color: $brand-pure !default;
$checkbox-addon-checked-color: $brand-primary !default;
$checkbox-addon-hover-color: $brand-light !default;
$checkbox-addon-press-color: $brand-dark !default;
$checkbox-addon-disabled-color: $disabled-color !default;
$checkbox-addon-scale: 0.625 !default;
