// Colors
// 蓝色
$blue-lighter: #3CA0FF !default;
$blue-light: #0095FF !default;
$blue-primary: #008CF0 !default;
$blue-dark: #0083E0 !default;

$green-primary: #00CB83 !default;
$orange-primary: #FF9600 !default;
$red-primary: #E64600 !default;

$brand-pure: #FFFFFF !default;

// 灰色
$gray-base: #262626 !default; // 标题文字
$gray-darker: #595959 !default; // 正文文字
$gray-dark: #8C8C8C !default; // 辅助、次要文字
$gray: #BFBFBF !default; // 占位文字、禁用状态文字
$gray-light: #D9D9D9 !default; // 描边
$gray-lighter: #F5F5F5 !default; // 分割线（深）、页面结构背景
$gray-lightest: #FAFAFA !default; // 分割线（浅）、表格内斑马线

// 语义
$brand-primary: $blue-primary !default;
$brand-info: $blue-lighter !default;
$brand-success: $green-primary !default;
$brand-warning: $orange-primary !default;
$brand-danger: $red-primary !default;
$brand-light: $blue-light !default;
$brand-dark: $blue-dark !default;

$disabled-color: $gray !default;
// Body
$body-bg: $brand-pure !default;
$body-color: $gray-base !default;

$border-color: $gray-light !default;
$text-muted: $gray-dark !default;
