// Collapse
$collapse-transition: all 0.18s ease-in-out !default;
$collapse-animation: scaleIn 0.36s ease-in-out !default;
$collapse-font-size: 0.8em !default;
$collapse-text-indent: 1.5rem !default;
