// Define common padding and border radius sizes and more.
$line-height-base: 1.43 !default;
$line-height-lg: (4 / 3) !default;
$line-height-sm: 1.5 !default;

$border-width: 1px !default;
$border-radius-lg: rem(4px) !default;
$border-radius-sm: 1px !default;
$border-radius: rem(2px) !default;

$component-active-color: $brand-pure !default;
$component-active-bg: mix($brand-pure, $brand-primary, 60%) !default;

$caret-width: 0.3em !default;
$caret-width-lg: $caret-width !default;

// 全局外阴影变量
$box-shadow-light: 0 1px 5px 0 rgba($gray-base, .1) !default;
$box-shadow-normal: 0 6px 18px 0 rgba($gray-base, .14) !default;
$box-shadow-dark: 0 10px 32px 0 rgba($gray-base, .18) !default;
$box-shadow-darker: 0 12px 42px 0 rgba($gray-base, .24) !default;
