// Confirm
$confirm-top: $modal-top !default;
$confirm-left: $modal-left !default;
$confirm-bg: $modal-bg !default;

$confirm-dialog-bg: $brand-pure !default;
$confirm-dialog-width: 240px !default;
$confirm-dialog-height: 150px !default;
$confirm-dialog-padding: 1rem !default;
$confirm-dialog-border-radius: $border-radius-lg !default;

$confirm-addon-font-size: 3rem !default;
$confirm-body-padding: 1rem 0 !default;
$confirm-footer-border-color: $border-color !default;

$confirm-btn-padding: 0.8rem !default;
$confirm-btn-hover-bg: $gray-lighter !default;
$confirm-btn-primary-color: $brand-primary !default;

$confirm-animation-duration: 0.36s !default;
