//时间控件
$datepicker-bg: $brand-pure !default;
$datepicker-border: 1px solid transparent !default;
$datepicker-font-size: rem(14px) !default;
$datepicker-box-shadow: 0px rem(6px) rem(18px) 0px rgba(38, 38, 38, 0.14) !default;
$datepicker-padding-top: rem(7px) !default;

$datepicker-header-padding: 0 rem(11px) !default;

$datepicker-header-btn-scale: 1.3 !default;
$datepicker-header-btn-padding: rem(10px) !default;
$datepicker-header-btn-font-size: 1.2rem !default;
$datepicker-header-btn-transition: all 0.18s linear !default;
$datepicker-header-btn-hover-color: $brand-primary !default;

$datepicker-body-padding: 0 rem(9px) rem(5px) rem(9px) !default;

$datepicker-caption-padding: rem(8px) 0 !default;
$datepicker-caption-line-height: rem(20.5px) !default;
$datepicker-caption-hover-color: $brand-primary !default;

$datepicker-weekgroup-item-size: rem(36px) !default;

$datepicker-item-active-bg: $brand-primary !default;
$datepicker-item-active-color: $brand-pure !default;
$datepicker-item-disable-color: $gray-light !default;
$datepicker-item-disable-bg: $brand-pure !default;
$datepicker-item-border-radius: rem(2px) !default;

// 用px单位圆点才圆
$datepicker-item-dot-size: 4px !default;
$datepicker-item-dot-bottom: rem(3px) !default;

// 日
$datepicker-daygroup-notcurrent-item-color: $gray !default;
$datepicker-daygroup-width: rem(260px) !default;
$datepicker-daygroup-item-width: rem(36px) !default;
$datepicker-daygroup-item-line-height: rem(34.5px) !default;
$datepicker-daygroup-padding: 0 rem(4px) !default;
$datepicker-daygroup-item-hover-color: rgba(0, 140, 240, 0.1) !default;

// 年,月
$datepicker-yeargroup-padding: rem(14px) rem(13px) 0 rem(13px) !default;
$datepicker-yeargroup-item-line-height: rem(34px) !default;
$datepicker-yeargroup-item-padding: 0 rem(7px) rem(8px) rem(7px) !default;
$datepicker-yeargroup-item-text-width: rem(64px) !default;

$datepicker-footer-padding: rem(12px) 0 rem(11px) !default;

//底部
$datepicker-footer-border-top: 1px solid $gray-lightest !default;

// timeselect 输入框
$datepicker-timeselect-padding: 0 rem(8px) rem(8px) !default;
$datepicker-timeselect-input-width: rem(125px) !default;
