//InlineSelect
$inline-select-margin-bottom: -0.5rem !default;
$inline-select-option-color: $text-muted !default;
$inline-select-option-padding: rem(8px) rem(10px) !default;
$inline-select-option-border-radius: $border-radius-sm !default;
$inline-select-option-margin: 0 0.5rem 0.5rem 0 !default;
$inline-select-option-transition: all 0.2s ease !default;
$inline-select-option-active-color: $brand-primary !default;
$inline-select-option-active-bg: $brand-primary !default;
