$input-padding-x:                rem(16px) !default;
$input-padding-y:                rem(10.25px) !default;
$input-line-height:              1.25 !default;
$input-bg:                       $brand-pure !default;
$input-bg-disabled:              $gray-lighter !default;
$input-color:                    $gray-base !default;
$input-disabled-color:           $gray !default;
$input-border-color:             $gray !default;
$input-btn-border-width:         $border-width !default; // For form controls and buttons
$input-border-radius:            2px !default;

$input-border-focus:             $brand-primary !default;
$input-border-hover:             $brand-primary !default;
$input-box-shadow-focus:         rgba($input-border-focus, .8) !default;
$input-box-focus-shadow:         0 0 rem(8px) $input-box-shadow-focus;

$input-color-placeholder:        $gray-darker !default;
$input-font-size-placeholder:    $font-size-root !default;

$input-padding-x-sm:             rem(16px) !default;
$input-padding-y-sm:             rem(6.25px) !default;
$input-font-size-sm:             $font-size-root !default;

$input-padding-x-lg:             rem(16px) !default;
$input-padding-y-lg:             rem(21px) !default;
$input-font-size-lg:             rem(16px) !default;

$input-height:                   (($font-size-base * $line-height-base) + ($input-padding-y * 2)) !default;
$input-height-lg:                (($font-size-lg * $line-height-lg) + ($input-padding-y-lg * 2)) !default;
$input-height-sm:                (($font-size-sm * $line-height-sm) + ($input-padding-y-sm * 2)) !default;

$form-group-label-color:                    $gray-base !default;
$form-group-margin-bottom:                  $spacer-y !default;
$form-group-inline-margin-bottom:           rem(28px) !default;
$form-group-inline-label-margin-bottom:     rem(14px) !default;
$form-group-inline-btn-margin-left:         rem(30px) !default;

$input-group-addon-bg:                      $brand-pure !default;
$input-group-addon-color:                   $gray !default;
$input-group-addon-border-color:            $gray !default;
$input-group-addon-padding-sm:              $input-padding-y-sm $input-padding-x-sm !default;
$input-group-addon-padding-lg:              $input-padding-y-lg $input-padding-x-lg !default;
$input-group-addon-font-size-lg:            $font-size-lg !default;
$input-group-addon-font-size-sm:            $font-size-sm !default;