$input-width: rem(220px) !default;
$input-line-height: 1.572 !default; // todo 移除
// 输入框背景色
$input-bg: $brand-pure !default;
$input-disabled-bg: $gray-lightest !default;
// 输入框字体颜色
$input-color: $gray-base !default;
$input-disabled-color: $disabled-color !default;
$input-border-color: $border-color !default;
$input-border-width: $border-width !default; // For form controls and buttons
$input-border-radius: rem(2px) !default;

$input-border-focus: $brand-primary !default;
$input-border-hover: $brand-primary !default;
// 占位文字颜色
$input-placeholder-color: $disabled-color !default;
// 输入框左右内间距
$input-padding-x: rem(8px) !default;
// 最小号输入框
$input-padding-y-xs: rem(4px) !default;
$input-font-size-xs: rem(12px) !default;
// 小号输入框
$input-padding-y-sm: rem(6px) !default;
$input-font-size-sm: rem(12px) !default;
// 中号输入框
$input-padding-y-md: rem(7px) !default;
$input-font-size-md: $font-size-base;
// 大号输入框
$input-padding-y-lg: rem(8px) !default;
$input-font-size-lg: rem(16px) !default;

$input-height-md: (
  ($font-size-base * $line-height-base) + ($input-padding-y-md * 2)
) !default;
$input-height-lg: (
  ($font-size-lg * $line-height-lg) + ($input-padding-y-lg * 2)
) !default;
$input-height-sm: (
  ($font-size-sm * $line-height-sm) + ($input-padding-y-sm * 2)
) !default;

$form-group-label-color: $gray-base !default;
$form-group-margin-bottom: rem(20px) !default;
$form-group-inline-margin-right: rem(40px) !default;
$form-group-inline-margin-bottom: rem(28px) !default;
$form-group-inline-label-margin-bottom: rem(14px) !default;
$form-group-inline-btn-margin-left: rem(30px) !default;
$form-group-inline-component-line-height: 40px !default;

$input-group-addon-bg: $brand-pure !default;
$input-group-addon-color: $gray-light !default;
$input-group-addon-border-color: $gray-light !default;
$input-group-addon-padding-sm: $input-padding-y-sm $input-padding-x !default;
$input-group-addon-padding-lg: $input-padding-y-lg $input-padding-x !default;
$input-group-addon-font-size-lg: $font-size-lg !default;
$input-group-addon-font-size-sm: $font-size-sm !default;
