// Inverse level
$inverse-level-1: rgba(0, 0, 0, 0.18) !default;
$inverse-level-2: rgba(0, 0, 0, 0.24) !default;
$inverse-level-3: rgba(0, 0, 0, 0.3) !default;
$inverse-level-6: rgba(0, 0, 0, 0.6) !default;
