// Message
$message-top: ($navbar-height + 20) !default;
$message-min-width: rem(360px) !default;
$message-max-width: rem(700px) !default;
$message-border-radius: $border-radius !default;
$message-padding: 0 rem(8px) 0 rem(15px) !default;
$message-close-padding: 0 rem(7px) !default;

$message-header-font-size: rem(20px) !default;
$message-body-padding: rem(8px) rem(8px) rem(8px) rem(10px) !default;
$message-body-font-size: rem(14px) !default;
$message-body-line-height: rem(22px) !default;

$message-icon-loading-padding: 0 0.5rem 0 0 !default;
$message-loading-border-color: $gray !default;
$message-loading-color: $gray-base !default;

$message-enter-duration: 0.24s !default;
$message-leave-duration: 0.36s !default;
