// Navs
$nav-active-border-width: rem(2px) !default;
$nav-normal-padding: rem(8px) 0 rem(6px);
$nav-stacked-padding: rem(15px) rem(20px);

$nav-link-active-color: $brand-primary !default;
$nav-link-active-bg: $brand-pure !default;

$nav-disabled-link-color: $gray-light!default;
$nav-disabled-link-hover-color: $gray-light!default;
$nav-disabled-link-hover-bg: $brand-pure !default;

$nav-cards-border: rem(1px) solid $gray-light !default;
$nav-cards-item-active-color: $blue-primary !default;
$nav-cards-item-active-bg: $brand-pure !default;
$nav-cards-link-padding: 0 rem(16px) !default;
$nav-cards-item-bg: $gray-lightest !default;
$nav-cards-link-lineheight: rem(35px) !default;
$nav-cards-link-border-radius: rem(2px) rem(2px) 0px 0px !default;
