//Page transition
$page-transition-bg: $brand-pure !default;
$page-transition-duration: 1.2s !default;
$page-transition-enter-boxshadow: 0 0 2px darken($brand-primary, 12%) !default;
$page-transition-leave-boxshadow: $page-transition-enter-boxshadow !default;
