$pageHeader-padding: rem(20px);
$pageHeader-content-title-fontSize: rem(28px);
$pageHeader-content-title-lineHeight: rem(36px);
$pageHeader-modal-title-fontSize: rem(20px);
$pageHeader-modal-title-lineHeight: rem(28px);
$pageHeader-ghost-bgcolor: rgba(216,216,216,0.19);
