$popconfirm-max-width: rem(256px) !default;

$popconfirm-content-height: rem(44px) !default;
$popconfirm-content-font-size: rem(14px) !default;
$popconfirm-content-padding-x: rem(16px) !default;
$popconfirm-content-padding-y: rem(16px) !default;
