$popover-max-width: rem(276px) !default;

$popover-title-bg: $gray-lighter !default;
$popover-title-color: $gray-base !default;
$popover-title-padding-x: rem(16px) !default;
$popover-title-padding-y: rem(9px) !default;
$popover-title-font-size: $font-size-root !default;

$popover-content-padding-x: rem(16px) !default;
$popover-content-padding-y: rem(9px) !default;
