$progress-bg: $gray-lightest !default;
$progress-bar-color: $brand-primary !default;
$progress-border-radius: rem(100px) !default;

$progress-bar-bg: $brand-primary !default;
$progress-bar-success-bg: $brand-success !default;
$progress-bar-warning-bg: $brand-warning !default;
$progress-bar-danger-bg: $brand-danger !default;
$progress-bar-striped-bg-image: linear-gradient(
  45deg,
  rgba($brand-pure, 0.3) 25%,
  transparent 25%,
  transparent 50%,
  rgba($brand-pure, 0.3) 50%,
  rgba($brand-pure, 0.3) 75%,
  transparent 75%,
  transparent
);
$progress-bar-striped-box-shadow: rem(1px) rem(1px) rem(8px) gray;
$progress-bar-striped-bg-size: rem(40px);
$progress-info-default-color: $gray-base !default;
$progress-info-width: 2em !default;
$progress-info-margin-left: rem(16px) !default;
$progress-info-font-size: 1em !default;
