//== Radio
$radio-addon-size:                          1.28;
$radio-addon-i-size:                        .4 !default;
$radio-addon-padding:                       round(($radio-addon-size - $radio-addon-i-size) * $font-size-root / 2 - 1) !default;
$radio-addon-bg-color:                      $brand-pure;
$radio-addon-border-color:                  $gray-darker;
$radio-addon-checked-color:                 $brand-primary;
$radio-addon-disabled-color:                $gray;