//== Radio
$radio-label-space-x: rem(10px) !default;
$radio-space-x: rem(50px) !default;

$radio-addon-size: 16px !default;
$radio-addon-i-size: 6px !default;
$radio-addon-border-width: 1px !default;
$radio-addon-padding: round(
  ($radio-addon-size - $radio-addon-i-size)  / 2 - $radio-addon-border-width
) !default;
$radio-addon-bg-color: $brand-pure !default;
$radio-addon-border-color: $gray-dark !default;
$radio-addon-checked-color: $brand-primary !default;
$radio-addon-disabled-color: $gray-light!default;
$radio-addon-transtion: all 0.2s ease !default;
