$select-line-height: $input-line-height !default;
$select-transition: all 0.2s ease !default;
$select-bg: $brand-pure !default;
$select-disable-bg: $gray-lighter !default;

$select-selection-padding-right: 2.25rem !default;
$select-selection-max-height: 20rem !default;
$select-options-top: 120% !default;
$select-options-box-shadow: 0 2px 6px $inverse-level-2 !default;
$select-options-border: 1px solid $input-border-color !default;

$select-option-padding: $input-padding-y $input-padding-x !default;
$select-option-hover-bg: #f7f9fc !default;
$select-option-active-color: $brand-primary !default;
$select-option-disable-color: $gray-light !default;
