//Sidebar
$sidebar-width: rem(230px) !default;
$sidebar-font-size: rem(16px) !default;
$sidebar-line-height: rem(20.1px) !default;
$sidebar-bg: linear-gradient(180deg, rgba(#2f3a4f, 1) 0%, rgba(#293245, 1) 100%)
  !default;
$sidebar-icon-size: rem(20px) !default;

$sidebar-header-border-color: rgba($brand-pure, 0.1) !default;
$sidebar-header-color: $brand-pure !default;
$sidebar-header-logo-size: rem(20px) !default;
$sidebar-header-logo-margin-right: rem(20px) !default;
$sidebar-header-padding: rem(20px) rem(20px) rem(19px) !default;

$sidebar-nav-item-padding: rem(20px) !default;
$sidebar-nav-item-color: $gray-darker !default;
$sidebar-nav-item-active-bg: rgba($brand-pure, 0.1) !default;
$sidebar-nav-item-active-color: $brand-pure !default;
$sidebar-nav-item-secondary-padding-left: rem(70px) !default;

$sidebar-footer-border-color: rgba($brand-pure, 0.1) !default;
$sidebar-footer-height: 3rem !default;
$sidebar-footer-font-size: $font-size-sm !default;
