// Spacing
$spacer: 16px !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;

$directionList: (
  '': '',
  '-t': '-top',
  '-r': '-right',
  '-b': '-bottom',
  '-l': '-left',
  '-tb': '',
  '-lr': '',
);
$sizeMap: (
  '-xs': $spacer / 4, // 4
  '-sm': $spacer / 2, // 8
  '': $spacer, // 16
  '-lg': $spacer / 2 * 3, // 24
  '-xl': $spacer * 2, // 32
);
