// Spacing
$spacer: 16px !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;

$directionList: (
  '': '',
  '-t': '-top',
  '-r': '-right',
  '-b': '-bottom',
  '-l': '-left',
  '-tb': '',
  '-lr': '',
);
$sizeMap: (
  '-xxs': $spacer / 4, // 4
  '-xs': $spacer / 4 * 2, // 8
  '-sm': $spacer / 4 * 3, // 12
  '': $spacer, // 16
  '-lg': $spacer / 4 * 5, // 20
  '-xl': $spacer * 2, // 32
  '-xxl': $spacer * 3, // 48
);
