// Define colors for form feedback states and, by default, alerts.

$state-success-text: darken($brand-success, 3%) !default;
$state-success-bg: lighten($brand-success, 36%) !default;
$state-success-border: darken($state-success-bg, 6%) !default;

$state-primary-text: darken($brand-primary, 3%) !default;
$state-primary-bg: lighten($brand-primary, 24%) !default;
$state-primary-border: darken($state-primary-bg, 6%) !default;

$state-warning-text: darken($brand-warning, 3%) !default;
$state-warning-bg: lighten($brand-warning, 36%) !default;
$mark-bg: $state-warning-bg !default;
$state-warning-border: darken($state-warning-bg, 12%) !default;

$state-danger-text: darken($brand-danger, 3%) !default;
$state-danger-bg: lighten($brand-danger, 36%) !default;
$state-danger-border: darken($state-danger-bg, 6%) !default;
