// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.
$table-color: $gray-base !default;
$table-sort-color: $brand-primary;
$table-header-padding: rem(10px) 0;
$table-body-color: $gray-base;
$table-body-padding: rem(17px) rem(10px);
$table-header-border-color: #e1e5ec;
$table-header-color: $gray-dark;
$table-header-line-height: rem(14px);
$table-spried-background: $gray-lighter;
$table-body-hover-bg-color: #ecf2ff;
$table-header-border: 1px solid $table-header-border-color;
$table-cell-padding: 0.75rem !default;
$table-sm-cell-padding: 0.3rem !default;
$table-pagination-margin-top: rem(30px);
$table-fix-left-shadow: rem(2px) 0px rem(10px) 0px rgba(19, 34, 64, 0.1);
$table-fix-right-shadow: rem(-2px) 0px rem(10px) 0px rgba(19, 34, 64, 0.1);

$table-bg: $brand-pure !default;
$table-bg-accent: #f9f9f9 !default;
$table-bg-hover: $gray-lighter !default;
$table-bg-active: $table-bg-hover !default;

$table-thead-bg: $gray-lightest !default;

$table-border-width: $border-width !default;
$table-border-color: $border-color !default;

$table-inverse-bg: $gray;
$table-inverse-color: $gray-lighter;
$table-inverse-thead-color: $brand-pure;
$table-inverse-border-color: $gray-light;
