// Background Color
$tag-primary: $brand-primary !default;
$tag-secondary: $brand-warning !default;
$tag-success: $brand-success !default;
$tag-info: $brand-info !default;
$tag-warning: $brand-warning !default;
$tag-danger: $brand-danger !default;

// Theme Default Style
$tag-default: $gray-lighter !default;
$tag-default-color: $gray-darker !default;
$tag-default-outline: $gray-light !default;

// General Style
$tag-max-width: rem(200px) !default;
$tag-color: $brand-pure !default;
$tag-border-width: $border-width !default;
$tag-font-weight: normal !default;
$tag-border-radius: $border-radius !default;
$tag-link-hover-color: $brand-pure !default;
// Small Size
$tag-sm-font-size: rem(12px) !default;
$tag-sm-line-height: rem(18px) !default;
$tag-sm-padding-x: rem(3px) !default;
$tag-sm-padding-y: 0 !default;
$tag-sm-close-margin-left: rem(4px) !default;
// Medium Size
$tag-md-font-size: rem(14px) !default;
$tag-md-line-height: rem(24px) !default;
$tag-md-padding-x: rem(7px) !default;
$tag-md-padding-y: 0 !default;
$tag-md-close-margin-left: rem(8px) !default;

$tag-pill-padding: 2px rem(11px) 1px !default;
$tag-pill-border-radius: rem(12px) !default;

$tag-close-color: $brand-pure !default;
