// Text-link
$text-link-primary-color: $blue-primary;
$text-link-secondary-color: $gray-darker;
$text-link-hover-color: $blue-light;
$text-link-active-color: $blue-dark;
$text-link-disabled-color: $gray-light;
$text-link-transtion: all 0.2s ease !default;
