// Text-link
$text-link-primary-color: $brand-primary;
$text-link-secondary-color: $gray-darker;
$text-link-hover-color: $brand-light;
$text-link-active-color: $brand-dark;
$text-link-disabled-color: $disabled-color;
$text-link-transtion: all 0.2s ease !default;
