// Timeline
$timeline-item-padding-bottom: 1.86rem !default;

$timeline-item-addon-bg: $brand-pure !default;
$timeline-item-addon-color: $gray-light!default;
$timeline-item-addon-padding: 2px 2px !default;
$timeline-item-addon-font-size: 1rem !default;
$timeline-item-addon-top: 0.5rem !default;
$timeline-item-addon-first-color: $brand-primary !default;
$timeline-item-addon-font-size-sm: 0.79rem;

$timeline-item-line-left: 0.4rem !default;
$timeline-item-line-border: 2px solid $border-color !default !default;

$timeline-item-body-line-height: 1 !default;
$timeline-item-body-color: $gray-base !default;
$timeline-item-body-padding-right: 2.26rem !default;

$timeline-lg-color: $gray-dark;
$timeline-lg-item-addon-font-size: 1.286rem !default;
$timeline-lg-item-addon-padding: rem(6px) rem(3px) !default;
$timeline-lg-item-addon-left: 8rem !default;
$timeline-lg-item-line-left: 8.7rem !default;
$timeline-lg-item-padding-bottom: 6rem !default;
$timeline-lg-item-body-line-height: 1.5 !default;
$timeline-lg-item-body-padding-right: 2.5rem !default;
$timeline-lg-item-body-padding-left: 13.86rem !default;
$timeline-lg-item-title-top: 0.5rem !default;

$timeline-item-title-width: 7.8rem !default;
