$time-select-wrap-inner-padding: rem(10px) rem(27px) !default;
$time-select-color: $gray-base;
$time-select-border-color: $gray-light;
$time-select-bg-color: #f3f7ff;
$time-select-hover-color: $brand-info;
$time-select-border-radio: 0px 2px 10px 0px rgba(19, 34, 64, 0.1);
