// Tooltips

$tooltip-max-width: 15rem !default;
$tooltip-color: $brand-pure !default;
$tooltip-bg: $gray-secondary !default;
$tooltip-opacity: 0.9 !default;
$tooltip-padding-y: 0.3rem !default;
$tooltip-padding-x: 0.6rem !default;
$tooltip-margin: 3px !default;
$tooltip-border-radius: 2px !default;

$tooltip-arrow-width: 0.5rem !default;
$tooltip-arrow-color: $tooltip-bg !default;

$tooltip-transition: all 0.36s cubic-bezier(0.4, 0, 0.2, 1) !default;
