// font-size
$tree-select-font-size-default:rem(14px);
$tree-select-font-size-sm:rem(12px);
$tree-select-font-size-lg:rem(16px);

// height
$tree-select-height-default:rem(36px);
$tree-select-height-sm:rem(32px);
$tree-select-height-lg:rem(40px);

// line-height
$tree-select-line-height-default:rem(30px);
$tree-select-line-height-sm:rem(26px);
$tree-select-line-height-lg:rem(34px);