// Typography
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'PingFang SC',
  'Helvetica Neue', 'Microsoft YaHei', Arial, 'WenQuanYi Micro Hei', 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  sans-serif !default;
$font-family-serif: Georgia, 'Times New Roman', Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace !default;
$font-family-base: $font-family-sans-serif !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: $rem-baseline !default;
$font-size-base: 1rem !default;
$font-size-lg: 1.25rem !default;
$font-size-sm: 0.875rem !default;
$font-size-xs: 0.75rem !default;
$small-font-size: 80% !default;

// 标题字号
$font-size-h1: rem(44px) !default;
$font-size-h2: rem(38px) !default;
$font-size-h3: rem(28px) !default;
$font-size-h4: rem(24px) !default;
$font-size-h5: rem(20px) !default;
$font-size-h6: rem(16px) !default;

// 字重
$font-weight-normal: 400;
$font-weight-bold: 500;
