//Upload

$upload-preview-width: 100px !default;
$upload-preview-height: $upload-preview-width !default;
$upload-preview-border-color: $border-color !default;
$upload-preview-bg: #f2f3f4 !default;
$upload-preview-color: $text-muted !default;
$upload-preview-transition: all 0.18s ease-in-out !default;

$upload-preview-addon-font-size: 3rem !default;
$upload-preview-text-bottom: 0.5rem !default;
$upload-preview-text-font-size: 0.8rem !default;
$upload-preview-img-padding: 2px !default;
