//Upload
$upload-color: $gray-dark !default;
$upload-icon-color: $gray-light!default;
$upload-icon-font-size: rem(20px) !default;
$upload-padding: rem(16px) !default;
$upload-offset-left: rem(46px) !default;

$upload-preview-width: rem(90px) !default;
$upload-preview-height: $upload-preview-width !default;
$upload-preview-border-color: $gray-light!default;
$upload-preview-bg: $gray-lighter !default;
$upload-preview-color: $text-muted !default;
$upload-preview-transition: all 0.18s ease-in-out !default;
// 上传图片icon和文字
$upload-preview-addon-font-size: rem(30px) !default;
$upload-preview-addon-width: rem(32px) !default;
$upload-preview-addon-height: $upload-preview-addon-width !default;
$upload-preview-text-padding-top: rem(10px) !default;
$upload-preview-text-font-size: rem(12px) !default;
// 图片预览
$upload-preview-img-bg: $brand-pure !default;
$upload-preview-img-border-color: $gray-light !default;
$upload-preview-img-offset: rem(10px - $border-width) !default;
// 图片预览hover
$upload-preview-remove-color: $brand-pure !default;
$upload-preview-wrapper-bg: rgba(black, 0.5) !default;
// 大图预览
$upload-preview-ic-padding: 4px;
$upload-preview-ic-font-size: rem(24px) !default;
$upload-preview-ic-shadow: 0px rem(2px) rem(10px) 0px
rgba(0, 0, 0, 0.3) !default;
$upload-preview-ic-border-radius: rem(20px) !default;
$upload-preview-close-top: 5% !default;
$upload-preview-close-right: 6% !default;
$upload-preview-big-img-action-btn-size: rem(30px) !default;
$upload-preview-big-img-max-width: 55% !default;
$upload-preview-big-img-max-height: 80% !default;

