// input
$zindex-input-border: -1 !default;
$zindex-input: 0 !default;
$zindex-input-group-btn: 2 !default;
$zindex-input-group-btn-active: 3 !default;
$zindex-input-group-input-border: 4 !default;
$zindex-input-group-input: 5 !default;
// modal
$zindex-modal: 1050 !default;

// confirm, alert, message, notification
$zindex-confirm: 1060 !default;
$zindex-alert: 1060 !default;
$zindex-message: 1060 !default;
$zindex-notification: 1060 !default;

// popover
$zindex-popover: 1070 !default;
$zindex-popconfirm: 1070 !default;

// dropdown, select, datepicker
$zindex-dropdown: 1080 !default;
$zindex-select: 1080 !default;
$zindex-datepicker: 1080 !default;

// tooltip
$zindex-tooltip: 1090 !default;
$zindex-trigger: 1090 !default;

// loading
$zindex-loading: 2000 !default;
