.navbar-user{
    display: inline-block;
    height: 35px;
    width: 35px;
    background: url(../images/user.jpg);
    background-size: cover;
    border-radius: 35px;
    vertical-align: middle;
}
