.address-select {
  width: 500px;
}

.inline-label {
  padding: 0.35rem 0.71429rem;
  box-sizing: border-box;

  strong {
    padding-right: 1.14286rem;
  }
}

.inline-content {
  padding-left: 0;
}

.cancel-button {
  margin-right: 20px;
}
