.fade {
  opacity: 0;
  transition: opacity 0.15s linear;

  &.in {
    opacity: 1;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: 0.35s;
  transition-property: height;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes dadaScaleYOut {
  0% {
    transform: scaleY(1);
  }

  100% {
    opacity: 0;
    transform: scaleY(0);
  }
}

@keyframes dadaScaleXIn {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes dadaScaleXOut {
  0% {
    transform: scaleX(1);
  }

  100% {
    opacity: 0;
    transform: scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes dadaZoomOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dadaFadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
