.checkbox,
.radio,
.switch {
    margin: 0;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;

    input {
        visibility: hidden;
    }

    font-weight: normal !important;
}

.checkbox-label,
.radio-label {
    user-select: none;
    vertical-align: middle;

    &:not(:empty) {
        margin-left: $checkbox-label-space-x;
    }
}

.checkbox-inline,
.radio-inline {
    user-select: none;
    display: inline-block;

    .checkbox:not(:last-child),
    .radio:not(:last-child) {
        margin-right: $checkbox-space-x;
    }
}

.checkbox-vertical,
.radio-vertical {
    user-select: none;
    display: block;

    .checkbox:not(:last-child),
    .radio:not(:last-child) {
        display: block;
        margin-bottom: $checkbox-space-x;
    }
}

.checkbox {
    input {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;

        &:checked {
            + .checkbox-addon i {
                transform: scale(1);
                color: $checkbox-addon-checked-color;
            }
        }

        &:not(:disabled):not(.disabled) {
            &:active {
                + .checkbox-addon {
                    box-shadow: $checkbox-addon-active-box-shadow;
                }
            }
        }

        &:disabled + .checkbox-addon,
        &.disabled + .checkbox-addon {
            opacity: .6;
            background: $checkbox-addon-disabled-bg;
        }
    }
}

.checkbox-addon {
    line-height: 1;
    padding: $checkbox-addon-padding;
    display: inline-block;
    border: 1px solid $checkbox-addon-border-color;
    border-radius: $checkbox-addon-border-radius;
    vertical-align: middle;
    transition: $checkbox-addon-transtion;

    i {
        display: block;
        color: transparent;
        transform: scale(0);
        transform-origin: 50% 50%;
        width: round($checkbox-addon-width * $font-size-root);
        height: round($checkbox-addon-height * $font-size-root);
        transition: $checkbox-addon-transtion;
    }
}


//radio
.radio {
    input {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;

        &:checked {
            + .radio-addon i {
                transform: scale(1);
                background: $checkbox-addon-checked-color;
            }
        }

        &:not(:checked):not(:disabled):not(.disabled) {
            &:active {
                + .radio-addon {
                    box-shadow: $checkbox-addon-active-box-shadow;
                }
            }
        }


        &:disabled + .radio-addon,
        &.disabled + .radio-addon {
            opacity: .6;
            background: $checkbox-addon-disabled-bg;
        }
    }
}

.radio-addon {
    position: relative;
    padding: $radio-addon-padding;
    border: 1px solid $checkbox-addon-border-color;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    transition: $checkbox-addon-transtion;

    i {
        content: '';
        display: block;
        transform: scale(0);
        transform-origin: 50% 50%;
        width: round($radio-addon-width * $font-size-root);
        height: round($radio-addon-height * $font-size-root);
        background: transparent;
        border-radius: 50%;
        transition: $checkbox-addon-transtion;
    }
}


.switch {
    display: inline-block;
    position: relative;

    input {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;

        &:checked + .switch-addon {
            border-color: $checkbox-addon-checked-color;
            background: $checkbox-addon-checked-color;

            &::before {
                transform: $switch-addon-translate-x;
            }
        }

        &:disabled + .switch-addon,
        &.disabled + .switch-addon {
            opacity: .6;
        }
    }
}

.switch-addon {
    display: inline-block;
    background: $switch-bg;
    width: round($switch-width * $font-size-root);
    border-radius: round($switch-addon-width * $font-size-root);
    padding: $switch-addon-padding;
    transition: $checkbox-addon-transtion;


    &::before {
        content: '';
        display: block;
        width: round($switch-addon-width * $font-size-root);
        height: round($switch-addon-height * $font-size-root);
        border-radius: 50%;
        background: $switch-addon-bg;
        transition: $checkbox-addon-transtion;
    }
}
