.collapse, .sub-collapse {
  transition: $collapse-transition;

  &.active {
    & > .collapse-title > .collapse-title-addon {
      transform-origin: center center;
      transform: rotate(180deg);
    }

    & >.collapse-body {
      height: auto;
      animation: $collapse-animation;
    }
  }
}

.sub-collapse {
  .nav-item {
    padding-left: $collapse-text-indent;
  }
}

.collapse-title {
  transition: $collapse-transition;
}

.collapse-title-addon {
  float: right;
  line-height: $line-height-base;
  transition: $collapse-transition;
}

.collapse-body {
  height: 0;
  overflow: hidden;
  text-indent: $collapse-text-indent;
  transform-origin: center 0;
  font-size: $collapse-font-size;
}

.sub-collapse {
  & > .collapse-body {
    height: 0;
    overflow: hidden;
    transform-origin: center 0;
    font-size: $collapse-font-size;
  }
}


