.confirm {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: $confirm-bg;
  z-index: $zindex-confirm;
  overflow: hidden;
  outline: 0;
  -webkit-overflow-scrolling: touch;
}

.confirm-dialog {
  position: relative;
  min-width: $confirm-dialog-min-width;
  max-width: $confirm-dialog-max-width;
  padding: $confirm-dialog-padding;
  min-height: $confirm-dialog-min-height;
  background: $confirm-dialog-bg;
  border-radius: $confirm-dialog-border-radius;
  animation: bounceIn $confirm-animation-duration ease-in-out;
  box-shadow: $confirm-dialog-box-shadow;
}

.confirm-addon {
  text-align: center;
  i {
    font-size: 0;
    &:before {
      line-height: $confirm-addon-line-height;
      font-size: $confirm-addon-font-size;
    }
  }
}

.confirm-body {
  padding: $confirm-body-padding;
  .confirm-title {
    margin-bottom: $confirm-title-mgbottom;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    color: $confirm-title-color;
    font-weight: $confirm-title-font-weight;
    @include set-font-size($confirm-title-font-size);
  }
  .confirm-content {
    color: $confirm-content-color;
    font-weight: $confirm-content-font-weight;
    text-align: center;
    @include set-font-size($confirm-content-font-size);
  }
}

.confirm-footer {
  width: 100%;
  text-align: center;
  border-radius: 0 0 $confirm-dialog-border-radius $confirm-dialog-border-radius;
  cursor: pointer;
  .btn:last-child {
    margin-left: $confirm-footer-btn-margin;
  }
}
