
.datepicker {
    position: absolute;
    z-index: $zindex-datepicker;
    top: 0;
    left: 0;
    width: $datepicker-width;
    padding-top: rem(10px);
    font-size: $datepicker-font-size;
    transform-origin: center 0;
    animation: scaleIn .36s ease;
    color: $gray-base;
    border: $datepicker-border;
    background: $datepicker-bg;
    box-shadow: $datepicker-box-shadow;
}

//头部
.datepicker-header {
    display: flex;
    padding: $datepicker-header-padding;
    align-items: center;
    font-weight: bold;
    line-height: 1;
}

.datepicker-header-btn {
    padding: $datepicker-header-btn-padding;
    font-size: $datepicker-header-btn-font-size;
    cursor: pointer;
    transition: $datepicker-header-btn-transition;

    &:hover {
        transform: scale($datepicker-header-btn-scale);
        color: $datepicker-header-btn-hover-color;
    }
}

//时间标题
.datepicker-caption {
    padding: $datepicker-caption-padding;
    flex: 1;
    line-height: rem(20.5px);
    cursor: pointer;
    text-align: center;

    &:hover {
        color: $datepicker-caption-hover-color;
    }
}

.datepicker-body {
    padding: $datepicker-body-padding;
}

//星期
.datepicker-weekgroup-item {
    display: inline-block;
    width: $datepicker-weekgroup-item-size;
    line-height: $datepicker-weekgroup-item-size;
    text-align: center;
}

//日
.datepicker-daygroup-item {
    display: inline-block;
    padding: rem(2px);
    cursor: pointer;
    text-align: center;
}

.datepicker-daygroup-item-text {
    position: relative;
    width: $datepicker-daygroup-item-width;
    line-height: $datepicker-daygroup-item-line-height;
    border: 1px solid transparent;
    border-radius: $datepicker-daygroup-item-border-radius;

    &:hover:not(.disable):not(.active) {
        color: $datepicker-daygroup-item-active-bg;
        border-color: $datepicker-daygroup-item-active-bg;
    }

    &.now::before {
        position: absolute;
        bottom: rem(3px);
        left: 50%;
        width: rem(4px);
        height: rem(4px);
        content: "";
        transform: translateX(-50%);
        border-radius: 50%;
        background-color: $brand-primary;
    }

    &.active {
        color: $datepicker-daygroup-item-active-font;
        background-color: $datepicker-daygroup-item-active-bg;
    }

    &.disable {
        cursor: not-allowed;
        color: $datepicker-daygroup-item-disable-color !important;
    }
}

//年份选择
.datepicker-yeargroup,
.datepicker-monthgroup {
    display: inline-block;
    width: 50%;
    height: $datepicker-yeargroup-height;
    overflow-y: scroll;
}

.datepicker-yeargroup {
    border-right: $datepicker-border;
}

.datepicker-yeargroup-item,
.datepicker-monthgroup-item {
    padding: $datepicker-yeargroup-item-padding;
    cursor: pointer;
    text-align: center;

    &:hover {
        background: $datepicker-daygroup-item-hover-bg;
    }

    &.active {
        color: $datepicker-yeargroup-item-active-color;
        background: $datepicker-yeargroup-item-active-bg;
    }

    &.disable {
        cursor: not-allowed;
        color: $datepicker-yeargroup-item-disable-color !important;
    }
}


//底部
.datepicker-footer {
    padding: $datepicker-footer-padding;
    line-height: 1;
    text-align: center;
    border-top: $datepicker-border;

    a:hover {
        text-decoration: none;
    }
}
