.dada-ico {
  display: inline-block;
}

.dada-ico-xs {
  font-size: $ico-size-xs;
}

.dada-ico-sm {
  font-size: $ico-size-sm;
}

.dada-ico-md {
  font-size: $ico-size-md;
}

.dada-ico-lg {
  font-size: $ico-size-lg;
}

.dada-ico-xl {
  font-size: $ico-size-xl;
}
