.inline-select {
    margin-bottom: $inline-select-margin-bottom;
}

.inline-select-option {
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    color: $inline-select-option-color;
    padding: $inline-select-option-padding;
    border-radius: $inline-select-option-border-radius;
    margin: $inline-select-option-margin;
    transition: $inline-select-option-transition;

    &.active,
    &:hover {
        color: $inline-select-option-active-color;
        background: $inline-select-option-active-bg;
    }
}
