.input {
  @include border-radius($input-border-radius);

  position: relative;
  display: inline-flex;
  width: $input-width;
  align-items: center;
  vertical-align: middle;
  border: $input-btn-border-width solid $input-border-color;
  background-color: $brand-pure;

  &:hover {
    border-color: $input-border-hover;
  }
  // TODO 待Trigger组件完成后此处要清理
  & > .datepicker,
  & > .time-select-out {
    position: fixed;
  }
}

.dada-input-disabled {
  cursor: not-allowed;
  color: $input-disabled-color;
  background-color: $input-disabled-bg;

  & > .dada-input-addon-before,
  & > .dada-input-addon-after,
  & > .input-addon {
    color: $input-disabled-color;
  }

  &:hover {
    border-color: $input-border-color;
  }
}

.form-horizontal {
  .input {
    display: block;
    width: 100%;
  }
}

.input-field {
  overflow: hidden;
  flex: 1;
  border: none;
  background-color: transparent;

  &:disabled {
    background-color: transparent;
  }
}

.input-field-addon {
}

.dada-input-addon-before {
  padding-right: 1px;
  padding-left: $input-padding-x;
  color: $gray-light;
}

.dada-input-addon-after,
.input-addon {
  padding-right: $input-padding-x;
  padding-left: 1px;
  color: $gray-light;
}

.dada-input-clear {
  cursor: pointer;
  &:hover {
    color: $gray-darker;
  }
}
