.navbar {
  height: rem(60px);
  background: white;
  box-shadow: 0 rem(2px) rem(10px) 0 rgba(145, 156, 179, 0.1);
  line-height: rem(58px);
}

.navbar-link-container {
  display: inline-block;
  height: rem(60px);
  padding-right: rem(30px);
  padding-left: rem(30px);

  > a {
    cursor: pointer;
  }
}

.navbar-link {
  display: block;
  font-size: rem(18px);
  color: $gray-dark;

  &.active,
  &:hover {
    outline: none;
    color: $gray-base;
    text-decoration: none;
    border-bottom: rem(2px) solid $gray-base;
  }
}

.navbar-btn {
  @extend .btn;
  height: rem(60px);
  padding: 0 rem(20px);
  line-height: inherit;
  border: none;
  border-radius: 0;
}
