.popover {
  z-index: $zindex-popover;
  max-width: $popover-max-width;
  // 覆写箭头样式
  &[data-popper-placement^="bottom"] {
    .popover-title + .popover-content + .dada-trigger-arrow::before {
      background-color: $popover-title-bg;
    }
  }
}

// Offset the popover to account for the popover arrow
.popover-title {
  $offset-border-width: ($border-width / $font-size-root);

  margin: 0; // reset heading margin
  padding: $popover-title-padding-y $popover-title-padding-x;
  font-size: $popover-title-font-size;
  color: $popover-title-color;
  border-radius: ($border-radius-lg - $offset-border-width) ($border-radius-lg - $offset-border-width) 0 0;
  background-color: $popover-title-bg;
}

.popover-content {
  padding: $popover-content-padding-y $popover-content-padding-x;
}
