// radio
.radio {
    position: relative;
    display: inline-block;
    margin: 0;
    font-weight: normal !important;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    input {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        visibility: hidden;

        &:checked + .radio-addon {
            border-color: $radio-addon-checked-color;
            i {
                transform: scale(1);
                background-color: $radio-addon-checked-color;
            }
        }

        &:disabled + .radio-addon {
            border-color: $radio-addon-disabled-color;
            i {
                background-color: $radio-addon-disabled-color;
            }
        }

        &:not(:checked):not(:disabled) + .radio-addon:hover {
            opacity: .8;
            border-color: $radio-addon-checked-color;
        }
    }
}

.radio-addon {
    position: relative;
    display: inline-block;
    padding: $radio-addon-padding;
    transition: $checkbox-addon-transtion;
    vertical-align: middle;
    border: 2px solid $radio-addon-border-color;
    border-radius: 50%;
    background-color: $radio-addon-bg-color;

    i {
        display: block;
        width: round($radio-addon-i-size * $font-size-root);
        height: round($radio-addon-i-size * $font-size-root);
        content: "";
        transition: $checkbox-addon-transtion;
        transform: scale(0);
        transform-origin: 50% 50%;
        border-radius: 50%;
        background: transparent;
    }
}
