//侧边栏
.sidebar {
  display: flex;
  width: $sidebar-width;
  height: 100%;
  flex-direction: column;
  color: $sidebar-color;
  background: $sidebar-bg;
}
//头部
.sidebar-header {
  display: flex;
  padding: $sidebar-header-padding;
  align-items: center;
  font-size: $sidebar-font-size;
  line-height: $sidebar-header-logo-size;
  color: $sidebar-header-color;
  border-bottom: $border-width solid $sidebar-header-border-color;

  img {
    width: $sidebar-header-logo-size;
    height: $sidebar-header-logo-size;
    margin-right: $sidebar-header-logo-margin-right;
  }
}
//主内容
.sidebar-body {
  overflow-y: auto;
  flex: 1;

  // 二级菜单增加缩进
  .collapse .nav-item,
  .sidebar-list-secondary > .sidebar-item-child {
    text-indent: $sidebar-nav-item-secondary-intent;
  }
  .nav-link {
    text-indent: 0;
  }

  // 菜单共有样式
  .nav-item,
  .collapse-title,
  .sidebar-item-child {
    padding: $sidebar-nav-item-padding;
    font-size: $sidebar-font-size;
    line-height: $sidebar-line-height;
    cursor: pointer;
    color: $sidebar-nav-item-color;
    &:hover {
      color: $sidebar-nav-item-active-color;
      background-color: $sidebar-nav-item-active-bg;
    }

    .fa {
      width: $sidebar-icon-size;
      height: $sidebar-icon-size;
      line-height: $sidebar-icon-size;
      text-align: center;
      vertical-align: top;
      &:first-child {
        margin-right: $sidebar-header-logo-margin-right;
      }
    }
  }
  .collapse.active .collapse-title {
    color: $sidebar-nav-item-active-color;
  }

  // 无子菜单的选项样式
  .nav-item,
  .sidebar-item-child,
  .sidebar-item {
    position: relative;
    background-color: transparent;

    &.active {
      color: $sidebar-nav-item-active-color;
      background-color: $sidebar-nav-item-active-bg;
      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: rem(4px);
        content: "";
        background-color: $brand-primary;
      }
    }

    .sidebar-item-child.unfold {
      color: $sidebar-nav-item-active-color;
    }

    &.disabled {
      &:hover {
        background-color: transparent;
      }
      & > .nav-link {
        cursor: not-allowed;
      }
    }
  }

  .collapse-title-addon {
    margin-right: rem(10px);
  }
}
//底部
.sidebar-footer {
  display: flex;
  height: $sidebar-footer-height;
  font-size: $sidebar-footer-font-size;
  line-height: $sidebar-footer-height;
  border-top: $border-width solid $sidebar-footer-border-color;
  &-item {
    flex: 1;
    cursor: pointer;
    text-align: center;
    color: $sidebar-nav-item-color;

    &:hover {
      text-decoration: none;
      color: $sidebar-nav-item-active-color;
      background-color: $sidebar-nav-item-active-bg;
    }
  }
}

// ====================
.sidebar-list {
  margin: 0;
  padding: 0;
  font-size: $sidebar-font-size;
  line-height: $sidebar-line-height;
  list-style-type: none;
  color: $sidebar-color;
  a {
    cursor: pointer;
    color: inherit;
    &:hover {
      text-decoration: none;
    }
    & > span {
      cursor: pointer;
    }
  }
}
.sidebar-item {
  // 一级菜单
  .sidebar-item-wrap {
    position: relative;
    display: block;
    padding: $sidebar-nav-item-padding;
    &:hover {
      background-color: $sidebar-nav-item-active-bg;
    }
  }
  // icon样式
  .sidebar-icon-arrow {
    float: right;
  }
  // 二级菜单
  .sidebar-list-secondary {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-indent: 10px;
  }
  .sidebar-item-child {
    display: block;
    padding: $sidebar-nav-item-padding;
    &:hover {
      background-color: $sidebar-nav-item-active-bg;
    }
  }
}
