//侧边栏
.sidebar {
  display: flex;
  width: $sidebar-width;
  height: 100%;
  flex-direction: column;
  color: $sidebar-color;
  background: $sidebar-bg;
}
//头部
.sidebar-header {
  display: flex;
  padding: $sidebar-header-padding;
  align-items: center;
  font-size: $sidebar-font-size;
  line-height: $sidebar-header-logo-size;
  color: $sidebar-header-color;
  border-bottom: $border-width solid $sidebar-header-border-color;

  img {
    width: $sidebar-header-logo-size;
    height: $sidebar-header-logo-size;
    margin-right: $sidebar-header-logo-margin-right;
  }
}
//主内容
.sidebar-body {
  overflow-y: auto;
  flex: 1;

  .collapse .nav-item {
    text-indent: $sidebar-nav-item-secondary-intent;
  }

  .nav-item,
  .collapse-title {
    padding: $sidebar-nav-item-padding;
    font-size: $sidebar-font-size;
    line-height: $sidebar-line-height;
    cursor: pointer;
    color: $sidebar-nav-item-color;
    &:hover,
    &.active {
      color: $sidebar-nav-item-active-color;
    }

    &:hover {
      background-color: $sidebar-nav-item-active-bg;
    }

    .fa:first-child {
      width: $sidebar-icon-size;
      height: $sidebar-icon-size;
      margin-right: $sidebar-header-logo-margin-right;
      line-height: $sidebar-icon-size;
      text-align: center;
      vertical-align: top;
    }
  }

  .nav-item {
    position: relative;
    background-color: transparent;

    &.active {
      background-color: $sidebar-nav-item-active-bg;
      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: rem(4px);
        content: "";
        background-color: $brand-primary;
      }
    }

    &.disabled {
      &:hover {
        background-color: transparent;
      }
      & > .nav-link {
        cursor: not-allowed;
      }
    }
  }

  .collapse-title-addon {
    margin-right: rem(10px);
  }
}
//底部
.sidebar-footer {
  display: flex;
  height: $sidebar-footer-height;
  font-size: $sidebar-footer-font-size;
  line-height: $sidebar-footer-height;
  border-top: $border-width solid $sidebar-footer-border-color;
  &-item {
    flex: 1;
    cursor: pointer;
    text-align: center;
    color: $sidebar-nav-item-color;

    &:hover {
      text-decoration: none;
      color: $sidebar-nav-item-active-color;
      background-color: $sidebar-nav-item-active-bg;
    }
  }
}
