.disabled {
  color: $text-link-disabled-color !important;
  cursor: $cursor-disabled !important;
}

.textLink {
  cursor: pointer;
  font-size: $text-link-font-size;
  text-decoration: none;
  transition: $text-link-transtion;
  &:hover {
    color: $text-link-hover-color;
  }
&:active {
  color: $text-link-active-color;
}
}
.text-link-primary {
  color: $text-link-primary-color;
}
.text-link-default {
  color: $text-link-default-color;
}
