.timeline {
    list-style: none;
    margin: 0;
    padding: 0;
}

.timeline-lg {
    .timeline-item {
        padding-bottom: $timeline-lg-item-padding-bottom;
    }

    .timeline-item-unreachable {
        padding-bottom: $timeline-lg-item-padding-bottom * 2;

        .timeline-item-line {
            border-left-style: dotted;
        }

    }

    .timeline-item-line {
        left: $timeline-lg-item-line-left;
    }

    .timeline-item-addon {
        padding: $timeline-lg-item-addon-padding;
        font-size: $timeline-lg-item-addon-font-size;
    }

    .timeline-item-body {
        padding-left: $timeline-lg-item-body-padding-right;
        line-height: $timeline-lg-item-body-line-height;
    }
}

.timeline-item {
    position: relative;
    padding-bottom: $timeline-item-padding-bottom;

    &:last-child {
        padding-bottom: 0;

        .timeline-item-line {
            display: none;
        }
    }
}

.timeline-item-unreachable {
    padding-bottom: $timeline-item-padding-bottom * 2;

    .timeline-item-line {
        border-left-style: dotted;
    }

}

.timeline-item-line {
    position: absolute;
    left: $timeline-item-line-left;
    top: 0;
    height: 100%;
    border-left: $timeline-item-line-border;
}

.timeline-item-addon {
    position: absolute;
    left: 0;
    top: 0;
    color: $timeline-item-addon-color;
    font-size: $timeline-item-addon-font-size;
    padding: $timeline-item-addon-padding;
    background: $timeline-item-addon-bg;
    z-index: 2;
}


.timeline-item-body {
    line-height: $timeline-item-body-line-height;
    vertical-align: top;
    display: inline-block;
    padding-left: $timeline-item-body-padding-right;
}
