.time-select-out {
  z-index: $zindex-datepicker;
}
.time-select {
  z-index: 1000;
  font-size: 1rem;
  transform-origin: center 0;
  animation: 0.36s scaleIn ease;
  color: #132240;
  border: 1px solid #e9ebf0;
  border-radius: 0.14286rem;
  background-color: #fff;
  position: absolute;
  box-shadow: 0px 2px 10px 0px rgba(19, 34, 64, 0.1);
}
.time-select-wrap {
  height: 17.14rem;
  overflow-y: auto;
  position: relative;
}
.time-select-wrap-inner {
  padding: $time-select-wrap-inner-padding;
  cursor: pointer;
  &:hover {
    background: #f3f7ff;
  }
  &.active {
    background: #f3f7ff;
  }
}
.time-select-btn-wrap {
  padding: 0.5rem;
  font-size: 12px;
}
.time-select-btn-inner {
  cursor: pointer;
}
