.time-select-out {
  z-index: $zindex-datepicker;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  box-shadow: $time-select-border-radio;
}

.time-select {
  display: flex;
  font-size: 1rem;
  transform-origin: center 0;
  animation: .36s scaleIn ease;
  color: $time-select-color;
  border: 1px solid $time-select-border-color;
  border-radius: .14286rem;
  background-color: $brand-pure;

  & > div:last-child .time-select-wrap,
  & > div:last-child .time-select-wrap-inner.title {
    border-right: none;
  }
}

.time-select-wrap {
  position: relative;
  height: $time-select-wrap-height;
  overflow-y: auto;
  border-right: 1px solid $time-select-border-color;
}

.time-select-wrap-inner {
  width: $time-select-wrap-inner-width;
  padding: $time-select-wrap-inner-padding;
  box-sizing: content-box;
  line-height: $time-select-lineheight;
  cursor: pointer;
  color: $gray-darker;

  &:hover {
    background: $time-select-bg-color;
  }

  &.active {
    color: $time-select-hover-color;
  }
}

.dada-time-select-title {
  color: $gray;
  border-right: 1px solid $time-select-border-color;

  &:hover {
    background: none;
  }
}

.dada-time-select-footer {
  text-align: right;
}

.dada-time-select-btn {
  display: inline-block;
  padding: $time-select-btn-padding;
  margin-right: $time-select-btn-offset;
}
