.input-group-upload {
  & > input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 0;
  }

  &.disabled {
    .form-control {
      cursor: not-allowed;
      color: $gray-dark;
    }
  }

  .form-control {
    padding-left: $upload-offset-left;
    overflow: hidden;
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $gray-darker;
    &:hover {
      border-color: $upload-preview-border-color;
    }
  }
  .btn {
    padding-right: $upload-padding;
    padding-left: $upload-padding;
  }
}
.upload-addon {
  position: absolute;
  top: 50%;
  left: $upload-padding;
  font-size: $upload-icon-font-size;
  transform: translateY(-50%);
  color: $upload-icon-color;
}
/* 图片上传样式 start */
.upload-preview {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: $upload-preview-width;
  height: $upload-preview-height;

  & > input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    opacity: 0;
  }
}
.upload-preview-inner {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  color: $upload-preview-color;
  border-width: $border-width;
  border-radius: $border-radius;
}
.upload-preview-tool {
  &.disabled {
    cursor: not-allowed;
    color: $gray-dark;
  }
  border-style: dashed;
  border-color: $upload-preview-border-color;
  background-color: $upload-preview-bg;
}
.upload-preview-addon {
  width: $upload-preview-addon-width;
  height: $upload-preview-addon-height;
  font-size: $upload-preview-addon-font-size;
  line-height: $upload-preview-addon-height;
}
.upload-preview-text {
  padding-top: $upload-preview-text-padding-top;
  font-size: $upload-preview-text-font-size;
  line-height: $upload-preview-text-font-size;
}
/* 图片上传样式 end */
/* 图片预览样式 start */
.upload-preview-img {
  &.disabled {
    cursor: default;

    & > .upload-preview-remove {
      cursor: pointer;
    }
  }
  overflow: hidden;
  border-style: solid;
  border-color: $upload-preview-img-border-color;
  background-color: $upload-preview-img-bg;

  & > img {
    width: 100%;
    height: 100%;
    padding: $upload-preview-img-offset;
  }
}
.upload-preview-remove {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: $upload-preview-img-offset;
  font-size: $upload-preview-remove-font-size;
  transition: $upload-preview-transition;
  opacity: 0;
  background-color: $upload-preview-wrapper-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    opacity: 1;
  }

  .action-icon {
    padding: $upload-preview-ic-padding;
    &:hover {
      color: $upload-preview-remove-color;
    }
  }
}
/* 图片预览样式 start */
.image-preview {
  position: fixed;
  z-index: $zindex-modal;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  animation: fadeIn 0.36s ease;
  outline: 0;
  background-color: $upload-preview-wrapper-bg;

  .ic {
    font-size: $upload-preview-ic-font-size;
    cursor: pointer;
    color: $upload-preview-remove-color;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  .shadow {
    width: $upload-preview-big-img-action-btn-size;
    height: $upload-preview-big-img-action-btn-size;
    border-radius: $upload-preview-ic-border-radius;
    &:hover {
      box-shadow: $upload-preview-ic-shadow;
    }
  }

  .ic-close {
    position: absolute;
    z-index: 1;
    top: $upload-preview-close-top;
    right: $upload-preview-close-right;
  }
  .image-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    text-align: center;
    display: flex;

    & > img {
      max-width: $upload-preview-big-img-max-width;
      max-height: $upload-preview-big-img-max-height;
      margin: auto;
    }
  }

  .image-preview-operation {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .ic-rotate {
      margin: $spacer-x;
    }
  }
}
/* 多个文件样式 start */
.upload-ul{
  margin-top:1em;
  padding-left:0;
  &.upload-ul-outer{
    height: calc(105px + 5rem);
    overflow:scroll;
  }
}
.upload-li{
  list-style: none;
  cursor: pointer;
  position: relative;
  height: 21px;
  line-height: 21px;
  width:95%;
  margin-bottom: 1rem !important;
}
.upload-li-span{
  color: rgb(83, 155, 250);
}
.upload-li span{
  display:inline-block;
  width:90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.upload-li .remove{
  margin-left: 15px;
}
.upload-li .upload-li-span:hover{
  text-decoration: underline;
}
.upload-mul-remove{
  color: #919cb3;
  display: inline-block;
  width: 10%;
  text-align: right;
}
/* 多个文件样式 end */
/* 多个图片样式 start */
.upload-preview-mul{
  margin:0 12px;
  height:$upload-preview-height;
  width:$upload-preview-width;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  & > input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    opacity: 0;
  }
  .upload-preview-remove{
    cursor:pointer;
  }
}
.upload-preview-mul img{
  width:$upload-preview-width;
  height:$upload-preview-height;
  padding: $upload-preview-img-offset;
  border: 1px solid #e9ebf0;
}

/* 多个图片样式 end */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}