.input-group-upload {
  & > input[type="file"] {
    position: absolute;
    opacity: 0;
  }

  .form-control {
    padding-left: $upload-offset-left;
    overflow: hidden;
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $gray-darker;
    &:hover {
      border-color: $upload-preview-border-color;
    }
  }
  .btn {
    padding-right: $upload-padding;
    padding-left: $upload-padding;
  }
}
.upload-addon {
  position: absolute;
  top: 50%;
  left: $upload-padding;
  font-size: $upload-icon-font-size;
  transform: translateY(-50%);
  color: $upload-icon-color;
}
/* 图片上传样式 start */
.upload-preview {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: $upload-preview-width;
  height: $upload-preview-height;

  & > input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    opacity: 0;
  }
}
.upload-preview-inner {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  color: $upload-preview-color;
  border-width: $border-width;
  border-radius: $border-radius;
}
.upload-preview-tool {
  border-style: dashed;
  border-color: $upload-preview-border-color;
  background-color: $upload-preview-bg;
}
.upload-preview-addon {
  width: $upload-preview-addon-width;
  height: $upload-preview-addon-height;
  font-size: $upload-preview-addon-font-size;
  line-height: $upload-preview-addon-height;
}
.upload-preview-text {
  padding-top: $upload-preview-text-padding-top;
  font-size: $upload-preview-text-font-size;
  line-height: $upload-preview-text-font-size;
}
/* 图片上传样式 end */
/* 图片预览样式 start */
.upload-preview-img {
  overflow: hidden;
  border-style: solid;
  border-color: $upload-preview-img-border-color;
  background-color: $upload-preview-img-bg;

  & > img {
    width: 100%;
    height: 100%;
    padding: $upload-preview-img-offset;
  }
}
.upload-preview-remove {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: $upload-preview-img-offset;
  font-size: $upload-preview-remove-font-size;
  transition: $upload-preview-transition;
  opacity: 0;
  color: $upload-preview-remove-color;
  background-color: $upload-preview-remove-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    opacity: 1;
  }
}
/* 图片预览样式 start */
