.input-group-upload {
    input[type="file"] {
        position: absolute;
        opacity: 0;
    }

    .form-control[disabled] {
        cursor: default;
        background-color: $input-bg;
    }
}

.upload-preview {
    position: relative;
    display: inline-block;
    width: $upload-preview-width;
    height: $upload-preview-height;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    color: $upload-preview-color;

    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        opacity: 0;
    }
}
/* 图片上传样式 start */
.upload-preview-tool {
    border: $border-width dashed $upload-preview-border-color;
    border-radius: $border-radius;
    background-color: $upload-preview-bg;
}

.upload-preview-addon {
    width: $upload-preview-addon-width;
    font-size: $upload-preview-addon-font-size;
    line-height: $upload-preview-addon-line-height;
}

.upload-preview-text {
    position: absolute;
    right: 0;
    bottom: $upload-preview-text-bottom;
    left: 0;
    font-size: $upload-preview-text-font-size;
}
/* 图片上传样式 end */
/* 图片预览样式 start */
.upload-preview-img {
    position: relative;
    overflow: hidden;
    border: $border-width solid $upload-preview-img-border-color;
    background-color: $upload-preview-img-bg;

    img {
        width: $upload-preview-img-width;
        height: $upload-preview-img-height;
        margin: $upload-preview-img-margin;
    }
}
.upload-preview-remove {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: $upload-preview-img-margin;
    font-size: $upload-preview-remove-font-size;
    line-height: $upload-preview-img-height;
    transition: $upload-preview-transition;
    opacity: 0;
    color: $upload-preview-remove-color;
    background-color: $upload-preview-remove-bg;

    &:hover {
        opacity: 1;
    }
}
/* 图片预览样式 start */
