// Attention

@mixin attention-variant($color) {
  color: $color;
  border-color: $color;
  background: mix($color, $brand-pure, 10%);

  hr {
    border-top-color: darken($color, 5%);
  }

  .attention-link {
    color: $color;
    &:hover {
      color: darken($color, 15%);
    }
  }
}
