// Attention

@mixin attention-variant($color) {
    background: mix($color, $brand-pure, 10%);
    border-color: $color;
    color: $color;

    hr {
        border-top-color: darken($color, 5%);
    }

    .attention-link {
        color: darken($color, 12%);
    }
}
