// Horizontal dividers
//
// Dividers (basically an hr) within dropdowns and nav lists

@mixin nav-divider($color) {
    height: 1px;
    margin: ($spacer-y / 2) 0;
    overflow: hidden;
    background-color: $color;
}


@mixin nav-variant($color, $bg, $border-color) {
    color: $color;
    background: $bg;
    border-color: $border-color;

    .navbar-brand,
    .nav-link {
        color: $color;

        &:hover {
            color: darken($color, 12%);
        }
    }
}
