@mixin step-info-status($color) {
  .step-dot {
    border-color: $color;
    background-color: $color;
  }

  .step-icon {
    color: $color;
  }
}

@mixin step-tail-status($color) {
  &::before {
    background-color: $color;
  }

  .step-content::after {
    background-color: $color;
  }
}
