// Tags

@mixin tag-variant($color) {
  background-color: $color;
  border: $tag-border-width solid $color;
}

@mixin tag-outline-variant($color) {
  color: $color;
  border: $tag-border-width solid $color;
  background-color: rgba($color, .1);
}
