// Color
$gray-dark: #333;
$gray: #999;
$gray-light: #ddd;
$gray-lighter: #eee;
$gray-lightest: #f8f8f8;

$brand-primary: #4e85f7;
$brand-success: #13ce66;
$brand-warning: #f7ba2a;
$brand-danger: #ff4949;
