.button {
  padding: 20px;

  a,
  button {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .ghost {
    background-color: lighten(#22252a, 10%);
    padding: 10px;
    padding-bottom: 0;
  }
}
