.button {
  a,
  button {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .ghost {
    background-color: #373a3c;
    padding: 10px;
    padding-bottom: 0;
  }
}

.button-card-padding {
  padding-bottom: 0;
}
