{
  "presets": [
    ["es2015", { "modules": false }],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["transform-imports", {
      "lodash": {
        "transform": "lodash/${member}",
        "preventFullImport": true
      }
    }],
    ["react-css-modules", {
      "filetypes": { ".scss": "postcss-scss" },
      "webpackHotModuleReloading": true,
      "generateScopedName": "[name]__[local]___[hash:base64:5]"
    }],
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-export-extensions",
  ]
}
